
<ion-content>
<div class="dietitian-profile">
  <div style="height: 52px;
  border-bottom-left-radius:2rem;
  border-bottom-right-radius:2rem; text-align:center;background:#F3D2DB;">
 <img style="    width: 9%;
    height: auto;" src="./assets/img/login-logo.png">
</div>
<div style="padding: 10px;">
  <ion-row>
    <ion-col>
      <div style="float: left;width:60%;"><br>
        <span style="font-size: 1.2rem; font-weight:600;color:#000;">
          I am <br>
          {{dietitianRecord.dietitianName}}, <br>
          your dietitian
        </span><br>
        <div style="font-size: .8rem; font-weight:400;color:#000;padding-top:.5rem;">
          will help you to navigate 
          your diet plan.
        </div>
      </div>
      <div style="float: right;width:40%;text-align:end;">
        <img src="./assets/img/leaf.png" style="    text-align: right;
    vertical-align: middle;
    align-items: end;
    display: ruby-text;">
      </div>
    </ion-col>

  </ion-row>
</div>
<div style="background: var(--theme-color); 
border-top-left-radius:1rem; border-top-right-radius:1rem;
min-height: 140px;height:auto;position:relative;content: '';
width:100%; display: inline-block;
    display: inline-block;">
<div style="width: 30%;
    height: auto;
    top: -30px;
    left: 35%;
    text-align: center;
    border: 1px solid;
    border-radius: 53%;
    content: '';
    display: inline-block; position:absolute;background:grey">
  <img src="./assets/img/leaf.png">
</div>
</div>
 <div style="padding: 10px;">
  <div style="font-size: 1.3rem;color:#000;font-weight:600;">Bio:</div><br>
<div style="font-size: 1rem;color:#000;">

  {{dietitianRecord.dietitianAbout}}
  
</div>
 </div>

 <div style="padding: 10px;">
  <div style="font-size: 1.3rem;color:#000;font-weight:600;">Key Skills:</div><br>
<div style="font-size: 1rem;color:#000;">
  <ion-row style="font-size: .7rem;">
    <ion-col>
      <div style="margin-bottom:1rem;padding:.1rem 2rem;width: auto; height:25px;float:left;border-radius:1rem;border:.5px solid #b3b3b3;">
        Weight Loss
       </div>
    </ion-col>
    <ion-col>
      <div style="margin-bottom:1rem;padding:.1rem 2rem;width: auto; height:25px;float:left;border-radius:1rem;border:.5px solid #b3b3b3;">
        Weight Gain
       </div>    
    </ion-col>
  </ion-row>
  
  <ion-row style="font-size: .7rem;">
    <ion-col size="">
   <div style="margin-bottom:1rem;padding:.1rem 2rem;width: auto; height:25px;float:left;border-radius:1rem;border:.5px solid #b3b3b3;">
   General well being
   </div>
   </ion-col>
   <ion-col>
   <div style="margin-bottom:1rem;padding:.1rem 2rem;width: auto; height:25px;float:left;border-radius:1rem;border:.5px solid #b3b3b3;">
   BP
   </div>
  </ion-col>
  </ion-row>
</div>
 </div>
 <div style="background: #F5EF99; padding:1rem;
border-top-left-radius:1rem; border-top-right-radius:1rem;
min-height: 25%;height:auto;position:relative;content: '';width:100%; display: inline-block;
    display: inline-block;">
    <div>
      <b style="font-size: 1.3rem;">What will you get:</b><br><br>
      <div style="font-size: 1rem; color:#000;">
        Smart Diet plan with good many alternatives along with Macros, Nutri score and recipe details
    
      </div>
    </div>
  </div>
  <div>
    <ion-row>
      <ion-col>
        <ion-card style="text-align: center;
    border-radius: 1rem;
    padding: .8rem;
    color: #000;min-height: 200px;
    height: 95%;">
           <img src="./assets/img/homebased.png">
           <div>
            <span style="font-size: 1rem;font-weight:500;">Home based</span><br><br>
            <span style="font-size: .8rem;font-weight:400;">
            Healthy options with Macros n recipes
            </span>
           </div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="text-align: center;
    border-radius: 1rem;
    padding: .8rem;
    color: #000;min-height: 200px;
    height: 95%;">
          <img src="./assets/img/alternatives.png">
          <div>
           <span style="font-size: 1rem;font-weight:500;">Alternatives</span><br><br>
           <span style="font-size: .8rem;font-weight:400;">
            Flexi diet plan with 1000s of alternatives
           </span>
          </div>
       </ion-card>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: .5rem;">
      <ion-col>
        <ion-card style="text-align: center;
    border-radius: 1rem;
    padding: .8rem;
    color: #000;min-height: 200px;
    height: 95%;">
           <img src="./assets/img/soda.png">
           <img src="./assets/img/restorants.png">
           <div>
            <span style="font-size: 1rem;font-weight:500;">Restaurant/<br>Packaged foods</span><br><br>
            <span style="font-size: .8rem;font-weight:400;">
              Guidance for healthy options with color coding
            </span>
           </div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="text-align: center;
    border-radius: 1rem;
    padding: .8rem;
    color: #000;min-height: 200px;
    height: 95%;">
          <img src="./assets/img/list.png">
          <div>
           <span style="font-size: 1rem;font-weight:500;">Macros tracking</span><br><br>
           <span style="font-size: .8rem;font-weight:400;">
            Track the macros against the goals
           </span>
          </div>
       </ion-card>
      </ion-col>
    </ion-row>
  </div>
</div>
</ion-content>
