<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Coins</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="coins-card" [ngClass]="{'level1':activeHeaderIndex===1,'level2':activeHeaderIndex===2,'level3':activeHeaderIndex===3,'level4':activeHeaderIndex===4}">
    <ion-grid>
      <ion-row>
        <ion-col size="8" class="my-coins-title">My Coins</ion-col>
        <ion-col size="4" class="coins-value">
         <div style="color: #fff;
    padding: .5rem;
    width: 85px;
    border-radius: 19px;
    background: #e0ac08;
    height: 34px;    position: absolute;
    right: 0;">
    <span style="position: relative;
    top: -10px;
    left: -5px;">{{transactionData?.points}} </span>
          <img src="./assets/reward/doller.png" style="    position: relative;top: -3px;">
        </div> 
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="level-info">
      <div class="level-title" style="float: left;">Level {{levelData?.level}}</div>
      <div style="float: right;    margin-top: .2rem;">Your Daily Target <ion-icon name="bullseye-outline"></ion-icon></div>
      <div class="level-progress">
        <div style="color:#000;float:left;
                font-size: 1rem;
                font-weight: 600;">Coins</div>
        <div class="progress-text" style="float: right;">34 / 100</div>
        <div style="margin-top:.5rem;">
          <ion-progress-bar style="height: 10px;border-radius:15px;" value="0.34" color="warning"></ion-progress-bar>
        </div>
      </div>
    </div>
  </ion-card>

  <div class="levels-section">
    <div class="levels-title">Levels</div>
    <div class="levels">
      <div class="sub-level">
      <div class="level-item level1" [ngClass]="{'active-level1':itemIndex===1}" >1</div>
      <div class="level-item level1" [ngClass]="{'active-level1':itemIndex===2}">2</div>
      <div class="level-item level1" [ngClass]="{'active-level1':itemIndex===3}" >3</div>
      <div class="level-item level2" [ngClass]="{'active-level2':itemIndex===4}">4</div>
      <div class="level-item level2" [ngClass]="{'active-level2':itemIndex===5}" >5</div>
      <div class="level-item level2"  [ngClass]="{'active-level2':itemIndex===6}" >6</div>
      <div class="level-item level3" [ngClass]="{'active-level3':itemIndex===7}" >7</div>
      <div class="level-item level3" [ngClass]="{'active-level3':itemIndex===8}" >8</div>
      <div class="level-item level3" [ngClass]="{'active-level3':itemIndex===9}" >9</div>
      <div class="level-item level4" [ngClass]="{'active-level4':itemIndex===10}">10</div>
      </div>
    </div>
  </div>

  <div style="width: 100%;padding:1rem;font-size:1rem;color:#000;font-weight:600;">
    How it works?  <img src="./assets/reward/doller.png" style="    position: relative;top: 5px;">
  </div>
  <div style="width: 90%;margin:0 1rem;background: #DDDDDD; color:#000;padding:.5rem;border-radius:5px; margin-bottom:2rem;min-height:86px;">
     <h2 style="margin: 0; font-size:1rem;font-weight:600;color:#414042;">Daily Limit</h2>
    <p style="color:#414042;margin-top:.5rem;font-size:.75rem">
      There is going to be a daily limit of 20 coins
    </p>

  </div>

 
  <div style="width: 90%;display: flex;align-items: center;margin:1rem;background: rgb(65, 201, 51); color:#000;padding:.5rem;border-radius:5px;height:86px;">
    <div style="float: left; width:20%">
      <img src="./assets/icon/upgrad.png">
    </div>
    <div style="float: left; width:80%">
      <h2 style="color:#414042;margin: 0; font-size:1rem;font-weight:600;">Level Upgrade</h2>
      <p style="color:#414042;margin-top:.5rem;">
        Log full diet for 3 days
      </p>
    </div>
  </div>
  
  <div style="width: 90%;display: flex;align-items: center;margin:1rem;background: #FF7A7D; color:#000;padding:.5rem;border-radius:5px;height:86px;">
    <div style="float: left; width:20%">
      <img src="./assets/icon/downgrad.png">
    </div>
    <div style="float: left; width:80%">
      <h2 style="color:#414042;margin: 0; font-size:1rem;font-weight:600;">Level Downgrade</h2>
      <p style="color:#414042;margin-top:.5rem;">
        Log full diet for 3 days
      </p>
    </div>
  </div>
  <div style="width: 90%;position:relative;display: flex;align-items: center;margin:1rem;background: #FFC224; color:#fff;padding:.5rem;border-radius:5px;height:90px;">
    <div style="float: left; width:95%">
      <h2 style="color:#fff;margin: 0; font-size:1rem;font-weight:600;"> GET YOUR REWARDS NOW! </h2>
      <p style="color:#414042;margin-top:.5rem;font-size:.75rem;">
        Use your points to get the most useful rewards. 
      </p>
    </div>
    <!-- <div style="float: right; width:5%">
      <img src="./assets/icon/Vector.png">
    </div> -->
    <img src="./assets/icon/award.png" style="    position: absolute;
    right: -4%;
    bottom: -38%;">
  </div>
  <br><br><br><br><br><br><br><br>

  
</ion-content>