<ion-card class="card">
  <div class="d_flex">
    <div style="width: 60px; position: relative">
      <ion-thumbnail (click)="gotoViews(data)">
        <ion-img
          *ngIf="data?.imageUrl"
          [src]="data?.imageUrl.replace('.png', '.jpg')"
          class="card_img"
        ></ion-img>
        <img
          class="card_img"
          *ngIf="data?.foodSource?.toLowerCase() == 'internal'"
          src="{{image_URL}}{{data?._id}}.jpg"
          onerror="this.src='./assets/newImages/food.svg';this.style='object-fit: contain'"
        />
        <img
          class="card_img"
          style="object-fit: contain"
          *ngIf="data?.foodSource?.toLowerCase() == 'external'"
          src="./assets/newImages/food.svg"
        />
      </ion-thumbnail>
      <!-- <div class="veg_div">
        <div
          class="dot_boarder"
          [ngStyle]="{'border-color':data?.foodType==='Ve' || data?.foodType==='V' ? 'var(--green)' : data?.foodType==='E' ? 'var(--yellow)':  data?.foodType==='NV' ?'var(--red)':'lightgrey'}"
        >
          <div
            class="dot"
            [ngStyle]="{'background':data?.foodType==='Ve' || data?.foodType==='V' ? 'var(--green)' : data?.foodType==='E' ? 'var(--yellow)':  data?.foodType==='NV' ?'var(--red)':'lightgrey'}"
          ></div>
        </div>
      </div> -->
      <!-- <div style="position: absolute; bottom: -3px; right: 0px">
        <ion-icon
          class="plus_icon"
          (click)="replacedModal(d,true)"
          name="add-circle-outline"
        ></ion-icon>
      </div> -->
    </div>

    <div class="meal_pro_div">
      <p class="meal_pro" style="max-height: 40px">{{data?.Food}}</p>
      <div class="meal_pro_div d_flex" style="margin-top: 7px; padding: 0%">
        <div class="w_100">
          <p class="meal_pro" style="font-weight: 500">
            {{Math.round(data?.Calories )}} Kcal
            <!-- * data?.portion -->
          </p>
          <ion-progress-bar
            [ngClass]="data?.option"
            value="1"
          ></ion-progress-bar>
        </div>

        <!-- <div style="position: absolute; bottom: -3px; right: 0px">
          <ion-icon
            class="plus_icon"
            (click)="replacedModal(d,true)"
            name="add-circle-outline"
          ></ion-icon>
        </div> -->

        <!-- <div class="right" style="width: 80%"> -->
        <ion-icon
          class="plus_icon"
          (click)="replaced()"
          name="add-circle-outline"
        ></ion-icon>
        <!--  <div
            class="dot_boarder"
            [ngStyle]="{'border-color':data?.foodType==='Ve' || data?.foodType==='V' ? 'var(--green)' : data?.foodType==='E' ? 'var(--yellow)': 'var(--red)'}"
          >
            <div
              class="dot"
              [ngStyle]="{'background':data?.foodType==='Ve' || data?.foodType==='V' ? 'var(--green)' : data?.foodType==='E' ? 'var(--yellow)': 'var(--red)'}"
            ></div>
          </div>-->
        <!-- </div> -->
      </div>

      <!-- <div class="right">
        <ion-icon
          class="plus_icon"
          (click)="replacedModal(d,true)"
          name="add-circle-outline"
        ></ion-icon>
      </div> -->
    </div>
  </div>
</ion-card>

