<ion-content class="ion-padding">
  <div class="header">
    <ion-icon name="close-outline" (click)="retakeImage()" class="close-btn"></ion-icon>
    <h2 style="font-size: 1.3rem;">{{noFoddMessage}}</h2>
  </div>

  <div class="image-container">
    <div class="scan-wrap">
      previewUrl
  <ion-img *ngIf="previewUrl?.file!==''" [src]="previewUrl?.url" alt="Captured Image" style="transform: scale(1.8);
"></ion-img>
    <div *ngIf="previewUrl?.file===''" style="text-align:center;
    width:80%;
    min-height:300px;
    height:40%;
    margin-top:5%;
    border:1px solid var(--theme-color);
    left:10%;
    position:relative;
    display:flex;
    align-items:center;    font-weight: bold;
    font-size: 1.7rem;
    letter-spacing: 4px;
    border-radius: 18px;justify-content: center;color:#fff">
        {{previewUrl.url}}
    </div>
  <div [ngClass]="{ 'scan-line': loading }"></div>
</div>
   
  </div>

  <ion-item lines="none" style="margin-bottom: 0;">
    <div class="margin:6px 0;">
    <!-- <p class="instruction-text">Optional: Improve AI accuracy with details like food type, serving size, and cooking method.</p> -->
      <p class="instruction-text" *ngIf="previewUrl?.file===''" > This is the identified <b>barcode</b>. Please <b>confirm</b> and we will fetch nutrition info of same</p>
          <p class="instruction-text" *ngIf="previewUrl?.file!=='' && previewUrl?.mode!=='photo'" >This is the image  captured. Please <b>confirm</b> and we will fetch nutrition info of same.</p>

      </div>
  </ion-item>
 </ion-content>
  <ion-footer style="    position: fixed;
    bottom: 5rem;
    width: 88%;
    left: 6%;">
     
    <ion-row>
      <ion-col class="ion-text-center">
          <ion-button (click)="retakeImage()"  expand="block" color="dark" class="buttons">Retake</ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col class="ion-text-center">
        <ion-button (click)="confirmImage()"  expand="block" color="success" class="buttons">Confirm</ion-button>
      </ion-col>
    </ion-row>
   

</ion-footer>
 <div *ngIf="openHelp" style="width: 100%; height:100%;position: fixed; background: #000; top:10%; opacity: .5; z-index: 10;left:0;"></div>
 <div *ngIf="openHelp" style="width: 100%; position: fixed;bottom:0;background: #fff; text-align: center;top:45%;z-index: 11;">
    <ion-row>
      <ion-col class="ion-text-center" style="padding: 1rem;">
        <p *ngIf="previewUrl?.file!=='' && previewUrl?.mode=='photo'">We are unable to recognise it. Capture clean frontal image of food item.
          </p>
         <p *ngIf="previewUrl?.file===''">We are unable to recognize. However, we assure you that we are improving our database on continuous basis</p>
          <p *ngIf="previewUrl?.file!=='' && previewUrl?.mode!=='photo'">We are unable to recognize. However, we assure you that we are improving our database on continuous basis</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <img src= "./assets/img/shots.png" style="width: 85%;" *ngIf="previewUrl?.file!=='' && previewUrl?.mode=='photo'" />
        <img src= "./assets/img/barcode-scanner.png" style="width: 55%;" *ngIf="previewUrl?.file===''" />
        <img src= "./assets/img/barcode-scanner.png" style="width: 55%;" *ngIf="previewUrl?.file!=='' && previewUrl?.mode!=='photo'" />
      </ion-col>
    </ion-row>
     <ion-row>
      <ion-col size="11" class="ion-text-center" style="margin: 0 auto;">
        
         <ion-button (click)="retakeImage()"  expand="block" color="success" class="buttons">Retake</ion-button>
      </ion-col>
    </ion-row>
 </div>
