<ion-content class="ion-padding">
  <div class="header">
    <ion-icon name="close-outline" (click)="retakeImage()" class="close-btn"></ion-icon>
    <h2 style="font-size: 1.3rem;">{{noFoddMessage}}</h2>
  </div>

  <div class="image-container">
    <div class="scan-wrap">
  <ion-img [src]="previewUrl?.url" alt="Captured Image" style="transform: scale(1.8);
"></ion-img>
  <div [ngClass]="{ 'scan-line': loading }"></div>
</div>
   
  </div>

  <ion-item lines="none">
    <p class="instruction-text">Optional: Improve AI accuracy with details like food type, serving size, and cooking method.</p>`
  </ion-item>
 </ion-content>
  <ion-footer style="    position: fixed;
    bottom: 5rem;
    width: 88%;
    left: 6%;">
    <ion-row>
      <ion-col class="ion-text-center">
          <ion-button (click)="retakeImage()"  expand="block" color="dark" class="buttons">Retake</ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col class="ion-text-center">
        <ion-button (click)="confirmImage()"  expand="block" color="success" class="buttons">Confirm</ion-button>
      </ion-col>
    </ion-row>
   

</ion-footer>
 <div *ngIf="openHelp" style="width: 100%; height:100%;position: fixed; background: #000; top:10%; opacity: .5; z-index: 10;left:0;"></div>
 <div *ngIf="openHelp" style="width: 100%; position: fixed;bottom:0;background: #fff; text-align: center;top:45%;z-index: 11;">
    <ion-row>
      <ion-col class="ion-text-center">
        <p>Capture a clear, frontal shot of any food or meals; if packaged, focus on the front.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <img src= "./assets/img/shots.png" style="width: 85%;" />
      </ion-col>
    </ion-row>
     <ion-row>
      <ion-col size="11" class="ion-text-center">
         <ion-button (click)="retakeImage()"  expand="block" color="success" class="buttons">Retake</ion-button>
      </ion-col>
    </ion-row>
 </div>
