<ion-content class="ion-padding">
  <div class="header">
    <ion-icon name="close-outline" (click)="retakeImage()" class="close-btn"></ion-icon>
    <h2>Confirm your photo?</h2>
  </div>

  <div class="image-container">
    <ion-img [src]="previewUrl" alt="Captured Image"></ion-img>
  </div>

  <ion-item lines="none">
    <p class="instruction-text">Optional: Improve AI accuracy with details like food type, serving size, and cooking method.</p>`
  </ion-item>
  <ion-footer style="    position: fixed;
    bottom: 5rem;
    width: 88%;
    left: 6%;">
    <ion-row>
      <ion-col class="ion-text-center">
 <ion-button (click)="retakeImage()"  expand="block" color="dark" class="buttons">Retake</ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col class="ion-text-center">
        <ion-button (click)="confirmImage()"  expand="block" color="success" class="buttons">Confirm</ion-button>
      </ion-col>
    </ion-row>
   

</ion-footer>

</ion-content>
