<ion-content>
  <ion-row>
    <ion-col>
      <div style="width: 100%;height: 200px;color:#fff;border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;padding: 1rem;background:var(--theme-profile-background)">
        <ion-row>
          <ion-col class="ion-text-left" style="font-size: 1.1rem;">
            <b>{{profileName}}
              <ion-icon *ngIf="compConfig?.isEditProfile" (click)="gotoProfile()" name="pencil-outline" style="position: relative;
            width: 5%;
            top: 0.2rem;"></ion-icon></b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-left" style="font-size: .9rem;padding-top: .5rem;">
            {{compConfig.headerText}}
          </ion-col>
        </ion-row>
        <div class="text-center">
          <ion-button (click)="dateRangeChange(defaultDate, 'back')" shape="round" fill="clear">
            <ion-icon name="chevron-back-outline" class="color-white"></ion-icon>
          </ion-button>
          <span>{{defaultDateRange}}</span>
          <!-- [disabled]="isValidDate" -->
          <ion-button (click)="dateRangeChange(defaultDate, 'forward')" shape="round" fill="clear">
            <ion-icon name="chevron-forward-outline" class="color-white"></ion-icon>
          </ion-button>
        </div>
      </div>
      <div class="canvas-card">
        <ion-card>
          <ion-card-content style="padding-left: 15px;">
            <!-- <canvas id="barCanvas" width="40vw" height="20vh"></canvas> -->
            <canvas #barCanvas style="position: relative; height:20vh; width:40vw"></canvas>
            <ion-row class="margin-top-1">
              <ion-col class="ion-text-center ion-align-self-center">
                <ion-icon name="ellipse" class="consumed-label"></ion-icon> <span>Consumed</span>
              </ion-col>
              <ion-col class="ion-text-center ion-align-self-center">
                <ion-icon name="ellipse" class="exceeded-label"></ion-icon> <span>Exceeded</span>
              </ion-col>
              <ion-col class="ion-text-center ion-align-self-center">
                <ion-icon name="ellipse" class="daily-limit-label"></ion-icon> <span>Daily limit</span>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

        <span class="ion-text-center ion-align-self-center">
          Calories are an estimate of energy gained from food and drinks tracked regularly
        </span>

        <ion-list lines="none" *ngIf="maxCalories">
          <ion-item class="ion-no-padding" *ngFor="let item of custDailyDiets">
            <ion-avatar slot="start">
              <ion-icon class="calory-status-icon"
                [src]="(item.data.totalEatenCalories > maxCalories) ? 'assets/icons/calory-bad.svg' : (item.data.scoreRemark == 'Excellent choices') ? 'assets/icons/calory-excellent.svg' : (item.data.scoreRemark == 'Average Choices') ? 'assets/icons/calory-average.svg' : ''"></ion-icon>
            </ion-avatar>
            <ion-label>
              <p class="date-label">{{item.displayDate}}</p>
              <p class="choice-type">{{item.data.scoreRemark}}</p>
            </ion-label>
            <ion-label slot="end">
              <p class="calory-consumed"
                [ngClass]="(item.data.totalEatenCalories > maxCalories) ? 'red-text' : (item.data.scoreRemark == 'Excellent choices') ? 'green-text' : (item.data.scoreRemark == 'Average Choices') ? 'yellow-text' : ''">
                {{item.data.totalEatenCalories}} Kcal</p>
              <p class="calory-status">{{item.restCalories}} kcal
                {{(item.data.totalEatenCalories > maxCalories) ? "over" : "less" }} <ion-icon
                  [src]="(item.data.totalEatenCalories > maxCalories) ? 'assets/icons/thumb-bad.svg' : (item.data.scoreRemark == 'Average Choices' || item.data.scoreRemark == 'Excellent choices') ? 'assets/icons/thumb-excellent-average.svg' : ''"></ion-icon>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>

      </div>

    </ion-col>
  </ion-row>
</ion-content>