<ion-content>
  <ion-row>
    <ion-col>
      <div style="width: 100%;height: 200px;color:#fff;border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;padding: 1rem;background:var(--theme-profile-background)">
        <ion-row>
          <ion-col class="ion-text-left" style="font-size: 1.1rem;">
            <b>{{profileName}}
              <ion-icon *ngIf="compConfig?.isEditProfile" (click)="gotoProfile()" name="pencil-outline" style="position: relative;
            width: 5%;
            top: 0.2rem;"></ion-icon></b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-left" style="font-size: .9rem;padding-top: .5rem;">
            {{compConfig.headerText}}
          </ion-col>
        </ion-row>
        <div>
          <ion-button (click)="dateRangeChange(defaultDate, 'back')" shape="round">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
          <span>{{defaultDateRange}}</span>
          <!-- [disabled]="isValidDate" -->
          <ion-button (click)="dateRangeChange(defaultDate, 'forward')" shape="round">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ion-card class="canvas-card">
        <ion-card-content style="padding-left: 15px;">
          <canvas #barCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>