<ion-header style="height: 2rem;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goNext()" style="--color:#fff"></ion-back-button>
    </ion-buttons>
    <ion-title>Terms and Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Terms and Conditions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        The content of this app is provided as an information source and is not intended as, nor should it be considered a substitute for, professional medical advice.
        Literature reporting on metabolism, weight loss, and related topics is complicated and vast, with the continuous expansion of insight into the phenotypic and genotypic presentation. The translation of this knowledge and data into the current app required simplification and therefore inconsistencies may have occurred.
      </p>
      <h2>1.Terms of Use</h2>
      <p>
        This Appneurons technologies private Liimted app offers complimentary information as an interactive community service. With the express condition that the use of this Appneurons technologies private Liimted app implies your acceptance of all terms and conditions. “App neuron LLP (Smart Diet Planner)”reserves the right to modify these terms and conditions at any time, without notice.
      </p>
      <h2>2. Usage of Content</h2>
      <p>
        Unless noted otherwise, all information contained in this app, such as text, graphics, logos, icons, and images is copyrighted by and property of smartdietplanner.com, and may not be copied, altered, stored, or otherwise used commercially in whole or part without the express consent of Smart Diet Planner
      </p>
      <h2>3. Disclaimer of Warranty</h2>
      <p>
        Appneurons technologies private Liimted makes no warranties of any kind regarding, the accuracy, completeness, timeliness, or reliability of this website's content.
      </p>
      <h2>4. Limitation of Liability</h2>
      <p>
        You agree to hold harmlessAppneurons technologies private Liimted, its affiliates and their officers, directors, employees, and volunteers from all claims relating to this app and any website to which it is linked.
      </p>
      <h2>5. ACCESS</h2>
      <!-- <p> -->
        <ul>
          <li>Appneurons technologies private Liimted grants you permission to use the Services as set forth in this Agreement, provided that: You will not copy or distribute, any part of the Services in any medium or in any manner whatsoever without “Smart Diet Planner"'s explicit authorization in this regard.</li>
          <li>By using the Services and completing the registration process, you warrant that:<br>
            <span>
              (a) all the data provided by you is accurate and complete;
            </span><br>
            <span>
              (b) you shall maintain the accuracy of such information, and any changes thereto by regular updation of any such information;
            </span><br>
            <span>
              (c) you affirm that you are over 18 (eighteen) years of age and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties set forth in this Agreement, and to abide by and comply with this Agreement;
            </span><br>
            <span>
              (d)We shall not be liable for any injury, damage, or other consequence, health-related or otherwise arising out of any inaccuracy in the information on the Website/App.
            </span>

          </li>  
          <li>
            The information provided by you may be shared by us with any third party for providing the Services, record-keeping purposes, internal procedures or for any other purposes and by using this Website/ App you expressly consent to such sharing of the information provided by you.
          </li>
          <li>
            Upon completing the registration process, you will be provided with access to the information and you must treat such information as confidential, and you must not disclose it to any third party.
          </li>
          <li>
            You agree that your ability to log into your account is dependent upon external factors such as internet service providers and internet network connectivity and we shall not be liable to you for any damages arising from your inability to log into your account.
          </li>
        </ul>
       
      <!-- </p> -->
      <h2>6. Electronic Communications And Data Protection</h2>
      <p>
        When you visit the Website or the application or send any emails to us, you will be communicating electronically with us. By such electronic communication, you agree to receive such communications from us electronically. You acknowledge that your electronic submissions constitute your agreement and your acceptance to be bound by and to pay for such agreements and transactions. Your agreement and intent to be bound by electronic submissions applies to all transactions you enter into on the Website, and all records including notices of cancellation, policies, contracts, and applications.
       <br>
Appneurons technologies private Liimted is bound to comply with the principles of good practice in the processing of personal data. The personal data collected by us from you, maybe utilized by us to
<br>
(i) create the diet plan for you
<br>
(ii) pass information about you to our agents, advisors, and employees to carry out services for us,
<br>
(iii) notify you about enhancements to our services such as functionality changes to the website, new services, and special features, and offers or competitions we think you will find interesting,
<br>
(iv) market our goods and services and those of any third parties and
<br>
(v) contact you by mail, telephone, email, text message, or any other reasonable method. If you wish not to be contacted in regards to the marketing of our goods and services and those of any third parties, you can contact us by using the contact information set out above.
<br>
We have implemented reasonable technical and organizational measures designed to secure your personal information and User Content from accidental loss and from unauthorized access, use, alteration or disclosure. However, we cannot guarantee that unauthorized third parties will never be able to defeat those measures or use your personal information and User Content for improper purposes. You acknowledge that you provide your personal information at your own risk.
</p>
     <h2>7. MEMBERSHIP/REGISTRATION FOR THE SERVICES</h2> 
     <p> 
      By providing Appneurons technologies private Liimted your email address/ phone number you consent to:
    </p>
      <ul>
        <li>Our using your email address or mobile number to send you Service-related notices, including any notices required by law, in lieu of communication by postal mail. You may use your settings to opt-out of Service-related communications videemail/mobile number or entirely.</li>
        <li>Our using the phone numbers provided by you, to contact you from time to time, in order to provide you updates and advice relating to your progress on the App and the usage of our Services.</li>
        <li>Our using your email address or phone number to send you other messages, including changes to features of the Service and special offers.</li>
      </ul>
     <!-- </p> -->
    <h2>8. RIGHTS RESERVED BY SMART DIET PLANNER</h2> 
    <!-- <p> -->
      <ul>
        <li>We have the right to immediately terminate your access or usage rights and remove non-compliant information or material, in case of non-compliance with these terms and conditions, this Agreement or the Privacy Policy.</li>
        <li>We reserve the right to introduce or change the prices of Services without any notice but this will not impact the current plan availed by you</li>
      </ul>
    <!-- </p> -->
    <h2>9. BILLING AND PAYMENT</h2> 
    <!-- <p> -->
      <ul>
        <li>Certain aspects of the Services may be provided for a fee or other charge. If you elect to use paid aspects of the Services, you agree to the terms of sale, pricing, payment, and billing policies applicable to such fees and charges. Appneurons technologies private Liimted may add new services for additional fees and charges, or amend fees and charges for existing services, at any time in its sole discretion.</li>
        <li>Should you choose to upgrade any of the Services provided, through in-app purchases, payment will be charged to your credit/debit card and net banking through your account at confirmation of purchase.</li>
      <li>You must notify Appneurons technologies private Liimted about any billing problems or discrepancies within 30 (thirty) days after charges first appear on their account statement. If it is not brought to Fiightitawy attention within 30 (thirty) days, You agree to waive your right to dispute such problems or discrepancies.</li>
     <li>In respect of purchases made on the “Smart Diet Planner”, you hereby acknowledge and agree that no refund requests will be entertained in any manner whatsoever and no refunds will be initiated, therefore.</li> 
     <li>You expressly understand and agree that we shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if we have been advised of the possibility of such damages), resulting from your use of the Mobile App and Desktop App;</li> 
     <li>You will not use the Mobile App or the Desktop App to create software that sends unsolicited communications (whether commercial or otherwise) to any third party;</li> 
     <li>We reserve the right at any time to modify or discontinue, temporarily or permanently the Desktop App and Mobile App by providing a notice of 48 (forty-eight) hours with or without notice;</li> 
    </ul>
    <!-- </p> -->
    <h2>10. OWNERSHIP OF INTELLECTUAL PROPERTY INCLUDING TRADEMARKS /SERVICE MARKS</h2> 
    <!-- <p> -->
      <ul>
        <li>All right, title, and interest in the usage of the terms Smartdietplanner.com, “Appneurons technologies private Liimted including but not limited to all texts, graphics, user interfaces, visual interfaces, computer code, and any other information associated therewith are reserved by us.</li>
        <li>All rights, title, and interest in and to the Services (excluding your Content) are and will remain the exclusive property of “Smart Diet Planner”</li>
        <li>Except as expressly provided in these terms of use, no part of Appneurons technologies private Liimted and no content or marks, data, statistics, independent research conducted and posted by “App neuron LLP (Smart Diet Planner)”may be copied reproduced, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted, or distributed in any way including (“mirroring”) to any other computer, server, website, or another medium for publication or distribution of any for any commercial enterprise, without prior written consent.</li>
      </ul>
    <!-- </p> -->
    <h2>11. GOVERNING LAW</h2> 
    <!-- <p> -->
<ul>
  <li>The laws of India govern this Agreement and these terms and conditions of use of the Services.</li>
  <li>Appneurons technologies private Limited accepts no liability whatsoever, direct or indirect, for noncompliance with the laws of any country other than that of India, the mere fact that Website/ App/Marketplace can be accessed or used or any facility can be availed of in a country other than India will not imply that we accede to the laws of such country..</li>
</ul>
<div class="go_btn_div">
  <ion-grid>
    <ion-row>
      <ion-col  class="center">
        <ion-button class="go_btn" shape="round" (click)="goNext()">OK</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <br>
  <br>

</ion-content>

