<!-- <ion-header>
  <ion-toolbar>
    <ion-title>new-profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main_div">
   
    <div class="bottom_shadow"></div>
    <div>
     
      <ion-segment [value]="segment" [(ngModel)]="segment">
        <ion-segment-button value="profile" class="profileBtn" layout="icon-start">
          <ion-icon name="person-outline" (click)="gotoProfile()" class="--profile-img-outline" style="    position: relative;
          height: 15px;
          width: 15px;
          border-radius: 25px;
          padding: 0.7rem;
          background: transparent;margin-right: .5rem;
          "></ion-icon>
          <ion-label>My Profile</ion-label>
        
        </ion-segment-button>
       
        <!-- <ion-segment-button value="insight" class="insightBtn" layout="icon-start">
          <ion-icon src="'../../../../../../assets/newImages/insight_icon.svg"></ion-icon>
          <ion-label>My Insights</ion-label>
        </ion-segment-button> -->
      </ion-segment>
      <p class="username" style="position: absolute; left:36.5%; top:7%;font-size:.8rem;">Profile ID: <b>{{profileData?.profile?.email}}</b></p>
      <div class="w_100 left" style="    top: -3rem;
      position: relative;
      right: -10px">
      <ion-icon name="arrow-back-outline" class="close_modal_icon" (click)="modalClose()"></ion-icon>
        <!-- <ion-icon
          class="close_modal_icon"
          name="close-circle"
          (click)="modalClose()"
        ></ion-icon> -->
      </div>
    </div>

    <div *ngIf="segment === 'profile' ">
      <div class="section-card" style="margin-top: 40px">
        <div class="avatar_div">
          <ion-avatar class="avatar" style="margin-top: -40px">
            <!-- <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" /> -->
            <ion-icon name="person-outline" (click)="gotoProfile()" class="--profile-img" style="position: relative;
            height: 24px;
            width: 24px;
            border-radius: 25px;
            padding: 0.7rem;"></ion-icon>
          </ion-avatar>
        </div>
        <div class="edit_icon_div">
          <ion-icon (click)="openModel('boarding2')" class="edit_icon"
            src="../../../../assets/newImages/icon-edit.svg"></ion-icon>
        </div>

        <p class="username">{{profileData?.profile?.name}}</p>
       
        <ion-grid class="w_100">
          <ion-row>
            <ion-col size="5">
              <p class="commonText">
                Age:<span>{{profileData?.demographic?.age?.avg_age}}</span>
              </p>
              <p class="commonText">
                Height:<span>{{profileData?.demographic?.height?.value}} </span>
              </p>
            </ion-col>
            <ion-col size="7">
              <p class="commonText">
                Gender:<span>{{profileData?.demographic?.gender?.gender}}
                </span>
              </p>
              <p class="commonText">
                Starting Weight:<span>{{profileData?.demographic?.weight?.value}}
                  {{profileData?.demographic?.weight?.unit ===
                  'pound'?'lbs':'kg'}}</span>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="compConfig.goal" class="section-card left" style="flex-direction: row; padding: 5px 15px">
        <div class="edit_icon_div">
          <ion-icon (click)="openModel('boarding')" class="edit_icon"
            src="../../../../assets/newImages/icon-edit.svg"></ion-icon>
        </div>
        <ion-img [src]="'../../../../assets/newImages/'+getImage(profileData?.profile?.category)" class="fitness_image">
        </ion-img>
        <p class="commonText upperCase">
          My Goal: <br /><span style="margin-left: 0%">
            {{goalName?.length>0?goalName[0]?.name:profileData?.lifeStyle?.dietPlanName}}</span>
        </p>
      </div>

      <div class="section-card">
        <p class="commonText" style="color: var(--black); margin-top: 0%">
          <ion-icon class="calendar_icon" src="../../../../assets/newImages/caender_icon.svg"></ion-icon>
          Your Fitness Journey
        </p>

        <div class="condition_card" style="padding: 10px 15px 0px" *ngIf="returnWeek()">
          <div class="slider_div">
            <div class="lines"></div>
            <!-- <div class="lines2">
              <div [ngStyle]="{'width':returnWeek()*12.5  }"></div>
            </div> -->
            <div class="slider_page">
              <div *ngFor="let w of [1,2,3,4,5,6,7,8]" style="width: 12.5%">
                <div class="center flex_col">
                  <p class="mar_0 ion-text-center week" *ngIf="returnWeek().count >= w">
                    ✓
                  </p>
                  <ion-icon *ngIf="returnWeek().count === w-1" class="man_icon"
                    src="../../../../assets/newImages/man_icon.svg"></ion-icon>
                  <p class="mar_0" [ngClass]="returnWeek().count >= 1 ? 'page_Count' : 'page_Count_active' "></p>
                  <p class="week">{{returnWeek().type}}{{w}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div style="margin-top: 30px">
          <ion-grid class="pad_0">
            <ion-row>
              <ion-col size="6" style="padding-right: 5px">
                <div class="condition_card center h_100">
                  <div class="card_div h_100">
                    <ion-img *ngIf="compConfig.isProfileIcons==false" src="../../../../assets/newImages/bmi.png" class="card_image"></ion-img>
                    <ion-img *ngIf="compConfig.isProfileIcons!=false" src="../../../../assets/icons/bmi1.png" class="card_image"></ion-img>
                    <p class="title">Current BMI:</p>
                    <p class="main_title">{{profileData?.demographic?.bmi}}</p>
                    <p class="sub_title">Range 18.5-25 (Recommended)</p>
                  </div>
                </div>
              </ion-col>
              <ion-col size="6" style="padding-left: 5px">
                <div class="condition_card h_100">
                  <div class="card_div">
                    <ion-img *ngIf="compConfig.isProfileIcons==false" src="../../../../assets/newImages/sugg_cal_icon.png" class="card_image"></ion-img>
                    <ion-img *ngIf="compConfig.isProfileIcons!=false" src="../../../../assets/icons/Group.png" class="card_image"></ion-img>
                    <p class="title" style="margin-top: 10px">
                      Suggested calories :<br />
                    </p>
                    <p class="main_title">
                      {{profileData?.lifeStyle?.calories}} Kcal/day
                    </p>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div class="condition_card" style="margin-top: 20px">
          <div class="card_div">
            <ion-img *ngIf="compConfig.isProfileIcons==false" src="../../../../assets/newImages/weight_machine.png" class="card_image"></ion-img>
            <ion-img *ngIf="compConfig.isProfileIcons!=false" src="../../../../assets/icons/weights1.png" class="card_image"></ion-img>
            <ion-grid class="w_100 pad_0">
              <ion-row>
                <ion-col size="6">
                  <p class="title" style="margin-top: 10px">Current weight:</p>
                  <p class="main_title">
                    {{profileData?.demographic?.weight?.value}} kg
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p class="title" style="margin-top: 10px">Desired weight:</p>
                  <p class="main_title">
                    {{profileData?.demographic?.suggestedWeight}} kg
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
            <p class="sub_title">
              Target/Ideal weight recommended: {{suggestedWeightRange-2}}kg - :
              {{suggestedWeightRange+2}}kg
            </p>
          </div>
        </div>
        <div class="condition_card" style="margin-top: 20px">
          <div class="card_div">
            <ion-img *ngIf="compConfig.isProfileIcons==false" src="../../../../assets/newImages/nutritional.png" class="card_image"></ion-img>
            <ion-img *ngIf="compConfig.isProfileIcons!=false" src="../../../../assets/icons/healthy-food1.png" class="card_image"></ion-img>
            <p class="title">
              Nutritional <br />
              Requirement <span class="sub_title">(On daily basis)</span>
            </p>
            <div class="cal_calculation_div">
              <div class="cal_main_div">
                <div class="cal_col">
                  <ion-img *ngIf="compConfig.isProfileIcons==false" src="../../../../assets/newImages/calorie.png" class="card_cal_image"></ion-img>
                  <ion-img *ngIf="compConfig.isProfileIcons!=false" src="../../../../assets/icons/wheat1.png" class="card_cal_image"></ion-img>
                  <p class="cal_sub_title">Fiber</p>
                  <p class="cal_title">{{profileData?.lifeStyle?.fiber}}g</p>
                </div>
                <div class="cal_col">
                  <ion-img *ngIf="compConfig.isProfileIcons==false" src="../../../../assets/newImages/carbs.png" class="card_cal_image"></ion-img>
                  <ion-img *ngIf="compConfig.isProfileIcons!=false" src="../../../../assets/icons/cauliflower1.png" class="card_cal_image"></ion-img>
                  <p class="cal_sub_title">Carbs</p>
                  <p class="cal_title">{{profileData?.lifeStyle?.carb}}g</p>
                </div>

                <div class="cal_col">
                  <ion-img *ngIf="compConfig.isProfileIcons==false" src="../../../../assets/newImages/protein.png" class="card_cal_image"></ion-img>
                  <ion-img *ngIf="compConfig.isProfileIcons!=false" src="../../../../assets/icons/Vector.png" class="card_cal_image"></ion-img>
                  <p class="cal_sub_title">Protein</p>
                  <p class="cal_title">{{profileData?.lifeStyle?.protien}}g</p>
                </div>

                <div class="cal_col">
                  <ion-img *ngIf="compConfig.isProfileIcons==false" src="../../../../assets/newImages/fats.png" class="card_cal_image"></ion-img>
                  <ion-img *ngIf="compConfig.isProfileIcons!=false" src="../../../../assets/icons/pizza1.png" class="card_cal_image"></ion-img>
                  <p class="cal_sub_title">Fats</p>
                  <p class="cal_title">{{profileData?.lifeStyle?.fat}}g</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="section-card pad_0">
        <ion-grid class="w_100">
          <ion-row>
            <ion-col size="6">
              <div class="center flex_col currunt_plan_div">
                <p class="main_title">Current Plan</p>
                <ion-icon class="star_icon" src="../../../../assets/newImages/star_icon.svg"></ion-icon>
                <p class="main_title">Free</p>
                <p class="sub_title ion-text-center">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="center flex_col h_100">
                <ion-icon class="star_icon" src="../../../../assets/newImages/upgrade_plan_icon.svg"></ion-icon>
                <ion-button class="go_btn" shape="round">Upgrade plan</ion-button>
                <p class="commonText" style="color: var(--theme-color)">
                  See benefits
                </p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div> -->

      <div class="section-card left" style="flex-direction: row; padding: 5px 15px" *ngIf="compConfig.mealPref==true">
        <div class="edit_icon_div">
          <ion-icon (click)="openModel('meal-pref')" class="edit_icon"
            src="../../../../assets/newImages/icon-edit.svg"></ion-icon>
        </div>
        <div style="width: 50">
          <ion-img *ngIf="compConfig.isProfileIcons==false" [src]="'../../../../assets/newImages/'+getImage(profileData?.lifeStyle?.activities?.code)"
            class="Activity_image"></ion-img>
          <ion-img *ngIf="compConfig.isProfileIcons!=false" style="width: 50%;" src="../../../../assets/newImages/physical.svg"
            class="Activity_image"></ion-img>
        </div>
        <p class="commonText">
          Meal Preference: <br />
          <span style="margin-left: 0%">Slot : {{preferedItem?.slot_id?.join(',')}}</span><br>
          <span style="margin-left: 0%">Preferred Meal: {{preferedItem?.Veg_nonveg}}</span><br>
          <span style="margin-left: 0%">Meal Name: {{preferedItem?.category_name}}</span><br>
          <span style="margin-left: 0%">Image: <br><img style="width: 29%;
            height: auto;" src="{{preferedItem?.image_id}}"></span>
        </p>
      </div>

      <div class="section-card left" style="flex-direction: row; padding: 5px 15px">
        <div class="edit_icon_div">
          <ion-icon (click)="openModel('boarding3')" class="edit_icon"
            src="../../../../assets/newImages/icon-edit.svg"></ion-icon>
        </div>
        <div style="width: 50">
          <ion-img *ngIf="compConfig.isProfileIcons==false" [src]="'../../../../assets/newImages/'+getImage(profileData?.lifeStyle?.activities?.code)"
            class="Activity_image"></ion-img>
          <ion-img *ngIf="compConfig.isProfileIcons!=false" style="width: 50%;" src="../../../../assets/newImages/physical.svg"
            class="Activity_image"></ion-img>
        </div>
        <p class="commonText">
          Physical Activity: <br /><span
            style="margin-left: 0%">{{profileData?.lifeStyle?.activities?.value?.split('(')[0]}}</span>
        </p>
      </div>

      <div class="section-card left flex_col" style="padding: 5px 15px">
        <div class="edit_icon_div">
          <ion-icon (click)="openModel('boarding4')" class="edit_icon"
            src="../../../../assets/newImages/icon-edit.svg"></ion-icon>
        </div>
        <div class="left w_100">
          <div style="width: 50">
            <ion-img *ngIf="compConfig.isProfileIcons==false" src="../../../../assets/newImages/healthCondition.png" class="Activity_image"></ion-img>
            <ion-img *ngIf="compConfig.isProfileIcons!=false" style="width: 50%;" src="../../../../assets/newImages/healthc.svg" class="Activity_image"></ion-img>
          </div>
          <p class="commonText">
            Health Conditions: <br />
            <span style="margin-left: 0%" *ngFor=" let d of profileData?.lifeStyle?.diseases">
              <span style="margin-left: 0%"
                *ngIf="!d?.value?.includes('Allergy') && !d?.value?.includes('allergy') ">{{d.value}},{{' '}}</span>
            </span>
            <!-- <span>None</span> -->
          </p>
        </div>

        <div class="left w_100" *ngIf="compConfig.isAllergies==true">
          <div style="width: 50">
            <ion-img *ngIf="compConfig.isProfileIcons==false" src="../../../../assets/newImages/alergies.png" class="Activity_image"></ion-img>
            <ion-img *ngIf="compConfig.isProfileIcons!=false" style="width: 50%;" src="../../../../assets/newImages/allergies.svg" class="Activity_image"></ion-img>
          </div>
          <p class="commonText">
            Allergies:<br /><span *ngFor=" let d of profileData?.lifeStyle?.diseases" style="margin-left: 0%"><span
                style="margin-left: 0%"
                *ngIf="d?.value?.includes('Allergy') || d?.value?.includes('allergy') ">{{d.value}},{{' '}}</span></span>
          </p>
        </div>
      </div>

      <!-- <div
        class="section-card left"
        style="flex-direction: row; padding: 5px 15px"
      >
        <div class="edit_icon_div">
          <ion-icon
            (click)="openModel(Boarding4Page)"
            class="edit_icon"
            src="../../../../assets/newImages/icon-edit.svg"
          ></ion-icon>
        </div>
        <ion-img
          src="../../../assets/newImages/alergies.png"
          class="Activity_image"
        ></ion-img>
        <p class="commonText">
          Allergies:<br /><span
            *ngFor=" let d of profileData?.lifeStyle?.diseases"
            style="margin-left: 0%"
            ><span
              style="margin-left: 0%"
              *ngIf="d?.value?.includes('Allergy') || d?.value?.includes('allergy') "
              >{{d.value}},{{' '}}</span
            ></span
          >
        </p>
      </div> -->

      <div class="section-card left flex_col" style="flex-direction: row; padding: 5px 15px">
        <div class="edit_icon_div">
          <ion-icon (click)="openModel('boarding5')" class="edit_icon"
            src="../../../../assets/newImages/icon-edit.svg"></ion-icon>
        </div>
        <div class="left w_100">
          <ion-img *ngIf="compConfig.isProfileIcons==false" [src]="'../../../../assets/newImages/'+getImage(profileData?.lifeStyle?.foodType?.code)"
            class="Activity_image"></ion-img>
          <ion-img *ngIf="compConfig.isProfileIcons!=false" style="width: 8.5%;" src="../../../../assets/newImages/dietpref.svg"
            class="Activity_image" style="width:auto;"></ion-img>
          <p class="commonText">
            Meal Preferences:<br /><span style="margin-left: 0%">{{profileData?.lifeStyle?.foodType?.value}}</span>
          </p>
        </div>
        <div class="left w_100">
          <div style="width: 50">
            <ion-img *ngIf="compConfig.isProfileIcons==false" [src]="'../../../../assets/newImages/'+getFlag(profileData?.lifeStyle?.country?._id)"
              class="Activity_image"></ion-img>
            <ion-img *ngIf="compConfig.isProfileIcons!=false" style="width: 50%;" src="../../../../assets/newImages/cuisuine.svg"
              class="Activity_image"></ion-img>
          </div>
          <p class="commonText">
            Regional Preferences in Food: <br /><span
              style="margin-left: 0%">{{profileData?.lifeStyle?.country?.name}}</span>
              
              <!-- <span
              *ngFor="let c of profileData?.lifeStyle?.communities"> 
              {{c?.value}}</span> -->
              <br><br>
             Communities: <br>
              <span>
                {{
                  communitiesArr?.join(',')
                }}
              </span>
          </p>
        
        </div>
      </div>
     </div>

    <div *ngIf="segment === 'insight' ">
      <div class="center">
        <ion-icon class="pre_nxt_btn" name="arrow-back-outline"></ion-icon>
        <p class="date">Last Week</p>
        <ion-icon class="pre_nxt_btn" name="arrow-forward-outline"></ion-icon>
      </div>
    </div>
  </div>
<div *ngIf="isShow" style="width:100%;height:100%;position:fixed;z-index:10;opacity:.5;background:#000;top:0;"></div>
<div *ngIf="isShow" style="width:80%;height:30%;position:fixed;z-index:11;
background: rgb(242, 229, 216);top:0;transform: translate(12%, 70%);border-radius:10px; text-align:center;">
<div style="background: rgb(242, 229, 216);
    height: 100%;">
<ion-row style="height: 30px; background:#565656;color:#fff;padding:5px 10px;">
  <ion-col class="ion-text-left">
    Message
  </ion-col>
  <ion-col class="ion-text-right">
    <img src="./assets/img/close.png" style="width: 20%;
    position: relative;
    top: -4px;
    right: -10px;" (click)="closePopup()">
      </ion-col>
</ion-row>
  <ion-row style="position: relative;top:10%;">
    <ion-col style="font-size: 1.1rem;padding:.8rem 1rem;">
        Hello, I'm {{dietitianName}}, your {{dietitianRole==='null'?'Dietitian':dietitianRole}}. You can connect me for the modifications.
    </ion-col>
  </ion-row>
  <br>
  <ion-row style="position: absolute; bottom:1rem;width: 100%;">
    <ion-col class="ion-text-center">
      <ion-button  shape="round" class="logged_btn" (click)="closePopup()">
         Ok
      </ion-button>
    </ion-col>
  </ion-row>
  </div>
</div>
</ion-content>

