
@font-face {
  font-family: wellbeing-medium;
  src: url("CircularStd-Medium.ttf") format("TrueType");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: wellbeing-regular;
  src: url("CircularStd-Black.ttf") format("TrueType");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: wellbeing-bold;
  src: url("CircularStd-BoldItalic.ttf") format("TrueType");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: wellbeing-extended;
  src: url("CircularStd-Black.ttf") format("TrueType");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: wellbeing-light;
  src: url("/assets/fonts/wellbeing/CircularStd-Black.ttf") format("TrueType");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}