
<div style="position: relative">
  <ion-icon class="card_logo"  name="analytics-outline"></ion-icon>
  <ion-card style="margin: 0;padding:0 1rem;">
    <div class="header_div d_flex">
      <p>Blood Pressure Tracker</p>
      <div style="float: right;cursor:pointer;font-size:.8rem" (click)="openEvent($event)" *ngIf="isShowButton">
        add/View
      </div>
    </div>

    <div class="ion-margin-vertical">
      <canvas class="weight-canvas-chart" height="150" #bloodPressure></canvas>
    </div>
  </ion-card>
  
</div>



