<div style="position: relative" *ngIf="loaded && data?.data?.length > 0">
  <ion-img 
    class="card_logo"
    src="../../../../assets/newImages/meal.png"
  ></ion-img>

  <ion-skeleton-text
    *ngIf="!loaded"
    animated
    class="sketloan"
  ></ion-skeleton-text>

  <ion-card
    *ngIf="loaded"
    [ngClass]="!fullShow && data?.data.length > 2 && 'scroll_y'"
    [ngStyle]="{'height':disabled?'100px':'auto','margin-bottom':disabled?'0px':'auto','background':data.data[0].foodSource==='Eatfit'?'#EDF2FF':'#fff','border-color':data.data[0].foodSource==='Eatfit'?'#B5C1E3':'#fff'}"
  >
   <div class="header_div" >
      <p>
        {{data?.message}}
        <span>
          <ion-icon name="time-outline"></ion-icon
          >{{moment(data?.time,'HH:mm').format('hh:mm a')}}
        </span>
      </p>
      <div *ngIf="data.data[0].foodSource==='Eatfit'" style="border-bottom: 1px solid #B5C3EB;margin: .3rem .5rem;"></div>
    </div>

    <div
      *ngFor="let d of data?.data.slice(0,disabled?1 :data?.data.length );let i = index"
    >
      <div
        class="aditional_div"
        *ngIf="d?.foodStatus === 'A'
      ">
        <p>Additional</p>
      </div>
      <div
        class="d_flex card_main_div"
        [ngStyle]="{'border-bottom': data?.data.length !== i+1 && '1px solid var(--card-border)','padding-top':d?.foodStatus === 'A' && '0%'}"
      >
        <div class="center" (click)="gotoView(d)" style="position: relative;">
          <ion-thumbnail>
            <img
              class="card_img"
              *ngIf="d?.foodSource?.toLowerCase() == 'internal'"
              src="{{image_URL}}{{d?._id}}.jpg"
              onerror="this.src='./assets/newImages/food.svg';this.style='object-fit: contain'"
            />
            <img
              class="card_img"
              style="object-fit: contain"
              *ngIf="d?.foodSource?.toLowerCase() == 'external'"
              src="./assets/newImages/food.svg"
            />
            <img
              class="card_img"
              *ngIf="d?.foodSource?.toLowerCase() == 'eatfit'"
              src="{{d?.imageUrl}}"
            />
            
          </ion-thumbnail>
         
        </div>
        <ion-grid class="w_100">
          <ion-row style="margin-top: 5px;margin-left: 5px;">
            <ion-col size="10">
              <p class="meal_pro">{{d?.Food}}</p>
              <p class="meal_cal" style="margin-top: 5px;">{{d?.portion}} {{d?.portion_unit}}</p>
            </ion-col>

            <ion-col size="2" class="right" style="align-items: flex-start">
              <div
                class="dot_boarder"
                [ngStyle]="{'border-color':d?.foodType==='Ve' || d?.foodType==='V' ? 'var(--green)' : d?.foodType==='E' ? 'var(--yellow)': d?.foodType==='NV' ?'var(--red)':'lightgrey'}"
              >
                <div
                  class="dot"
                  [ngStyle]="{'background':d?.foodType==='Ve' || d?.foodType==='V' ? 'var(--green)' : d?.foodType==='E' ? 'var(--yellow)':  d?.foodType==='NV' ?'var(--red)':'lightgrey'}"
                ></div>
              </div>
            </ion-col>
          </ion-row>

          <div class="meal_pro_div" style="margin-top: 10px;">
            <div>
              <span *ngIf="compConfig.itemCalories!=false">
              <p class="meal_cal" style="font-weight: 500">
                {{Math.round(d?.Calories)}} Kcal
              </p> 
           <ion-progress-bar
                [ngClass]="d?.option"
                value="1">
           </ion-progress-bar> 
              <p class="choice">{{d?.option}} Choice</p>
              </span>
            </div>
          
            <!-- //two condion for home page// -->
            
            <!-- [ngStyle]="{'color':!eat && 'lightgrey'}" -->
        <ion-icon style="float: right" *ngIf="(!d.eaten || d?.eaten < 0) && d.foodSource!=='Eatfit'"
              class="plus_icon"
              (click)="loogeAction($event,d,i)"
              name="add-circle"
            ></ion-icon>  

            <!-- //two condion for Search page// -->
           <!-- <ion-icon *ngIf="!d.eaten || d?.eaten < 0" class="plus_icon" [ngStyle]="{'color':!eat && 'lightgrey'}"
              (click)="addCal(d,i)" name="add-circle"></ion-icon>  -->

            <!-- <ion-icon *ngIf="!showPlusBtn" name="ellipsis-horizontal-circle-sharp" class="plus_icon"
              [ngStyle]="{'color':!eat && 'lightgrey'}" (click)="loogeAction($event,d,i)"></ion-icon> 
             -->
            <ion-icon *ngIf="showAddPopup && d.foodSource!=='Eatfit'" class="plus_icon" [ngStyle]="{'color':!eat && 'lightgrey'}"
              (click)="addCal(d,i)" name="add-circle"></ion-icon>
              <ion-button
          *ngIf="d?.foodSource==='Eatfit'"
          shape="round"
          class="logged_btn"
          style="--background: var(--profile-color);color:#fff;width:85px;height: 37px;
          font-size: .75rem;
          right: 0.5rem;
          position: relative;font-size: .75rem;"
          (click)="buyItem(d)">
          Buy
        </ion-button>
          </div>
          <ion-button
          *ngIf="d?.eaten > 0 "
          shape="round"
          class="logged_btn"
          style="--background: var(--profile-color);color:#fff;width:95px;height:25px;font-size: .75rem;"
          (click)="loogeAction($event,d,i)">
          Logged
          <ion-icon style="color:#fff" name="checkmark"></ion-icon>
        </ion-button>
          <!-- <div style="float: left;width: 97%;">
            <ion-row>
              <ion-col class="ion-text-left">
              <ion-button
              shape="round"
              fill="outline"
              class="logged_btn"
              (click)="addCal(d,i)"
              style="color:var(--theme-color);width:95px;height:25px;font-size: .75rem;"
              *ngIf="!d.eaten || d?.eaten < 0">
              Log
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
            <ion-button
            *ngIf="d?.eaten > 0 "
            shape="round"
            class="logged_btn"
            style="--background: var(--profile-color);color:#fff;width:95px;height:25px;font-size: .75rem;"
            (click)="logged(d)">
            Logged
            <ion-icon style="color:#fff" name="checkmark"></ion-icon>
          </ion-button>
              </ion-col>
              <ion-col class="ion-text-right">
                <ion-button
                *ngIf="!d.eaten || d?.eaten < 0"
                shape="round"
                fill="outline"
                style="color:var(--theme-color);width:95px;height:25px;font-size: .75rem;"
                class="logged_btn"
                (click)="changed(d)">
                  &nbsp; Alternatives
                  <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
              </ion-col>
            </ion-row>
          </div> -->
        </ion-grid>
      </div>
     
    </div>
 
    <div *ngIf="data?.data?.length  === 0">
      <p class="no_data_title">"Eat Better Not Less"</p>
      <p class="no_data_subtitle">Your slot is empty.</p>
      <p class="no_data_subtitle">Add something from the meal options.</p>
      <ion-img src="../../../../assets/newImages/no-meal.png"></ion-img>
    </div>
  </ion-card>

  <div class="center more_button_div" *ngIf="!fullShow">
    <ion-button shape="round" fill="outline" (click)="gotoOption()"
      >View Diet Plan</ion-button
    >
  </div>
</div>
