<div class="meal-pref-component">
  <br>
  <ion-radio-group mode="ios" (click)="selectedPref(index)" value="{{choice}}"
   *ngFor="let fit of documents; let index = index;" >
  <div class="-box-area -left"  
  [ngClass]="{'-left':(index+1)%2!==0, '-right':(index+1)%2===0}">
    <div class="-box">
      <ion-radio value="{{index}}"></ion-radio>
   <img src="{{fit?.image_id}}" [ngClass]="{'-border':choice===index}">
   </div>
   <span class="calori">{{fit?.calories_range}}</span>
  </div>
</ion-radio-group>
</div> 
