
<ion-content >
  <div style="padding-top: 1.5rem; border-radius: 1rem;background: #f3f3f3;">
  <ion-row>
    <ion-col class="ion-text-right">
      <ion-icon (click)="close()" style="font-size: 2rem; color:#01a3a4;font-weight: 600;margin-right:1rem" name="close-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-card>
    <ion-card-header style="margin: 15px 25px; 
    border-bottom: 1px solid #01a3a4;
    color:#01a3a4;
    padding-bottom: 15px;">
      Analysis
    </ion-card-header>
    <ion-card-content>
      <app-wcholesterol [isShowButton]="false" >
      </app-wcholesterol>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header style="margin: 15px 25px 0; 
      border-bottom: 1px solid #01a3a4;
      color:#01a3a4;
      padding-bottom: 15px;">
      <div class="weight-header-text">
       
        <span style="padding-top: 5px;"> Cholesterol Log</span>
        <!-- <div (click)="addHealthData()" class="log-data">
          <span>Log</span>
        </div> -->
        <ion-icon (click)="addHealthData()" class="log-data" name="add-outline" style="font-size: 2rem;"></ion-icon>
   
       
      </div>
      
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="healthData && healthData.length">
        <ion-row class="list-header border-bottom">
          <ion-col class="ion-no-padding" size="2.4"><b>Date</b></ion-col>
          <ion-col class="ion-text-center ion-no-padding" size="3.4"><b>Total</b></ion-col>
          <ion-col class="ion-text-center ion-no-padding" size="1.4"><b>LDL</b></ion-col>
          <ion-col class="ion-text-center ion-no-padding" size="1.4"><b>HDL</b></ion-col>
          <ion-col class="ion-text-center ion-no-padding" size="3.4"><b>Triglycerides</b></ion-col>
        </ion-row>
        <span *ngFor="let dayData of healthData">
        <ion-row class="content border-bottom" size="2.4" *ngIf="dayData?.healthData?.cholesterol">
          <ion-col class="ion-no-padding" style="white-space:nowrap">{{formatedDate(dayData.updateDate)}}</ion-col>
          <ion-col class="ion-text-center ion-no-padding" size="3.4" > {{dayData?.healthData?.cholesterol?.total}}</ion-col>
          <ion-col class="ion-text-center ion-no-padding" size="1.4" > {{dayData?.healthData?.cholesterol?.ldl}}</ion-col>
          <ion-col class="ion-text-center ion-no-padding" size="1.4" > {{dayData?.healthData?.cholesterol?.hdl}}</ion-col>
          <ion-col class="ion-text-center ion-no-padding" size="3.4" > {{dayData?.healthData?.cholesterol?.triglycerides}}</ion-col>
        </ion-row>
      </span>
      </div>
    </ion-card-content>
  </ion-card>

  
  
</div>
</ion-content>

