<ion-content fullscreen style="z-index: 12;">
  <!-- Camera preview -->
 
   <div>
  <video #video playsinline muted autoplay class="camera-preview"></video> 

 <div class="scan-frame">
    <div class="corner top-left"></div>
    <div class="corner top-right"></div>
    <div class="corner bottom-left"></div>
    <div class="corner bottom-right"></div>
  </div>
   
 <!-- <video #video width="100%" class="camera-preview" autoplay muted></video>
<ion-button (click)="startHighAccuracyScan(video)" style="position: absolute;
    top: 32%;">high accuracy</ion-button> -->
</div>

  <!-- Overlay UI -->
  <div class="overlay">
    <!-- Top bar -->
  <div class="top-bar">
  <ion-button fill="clear" color="light" (click)="goBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>

  <h2>📷 {{ mode === 'photo' ? 'Snap Food' : 'Scan Barcode' }}</h2>
</div>

    <!-- Center guide (optional scan box) -->
  

    <!-- Bottom actions -->
   <div class="bottom-bar">
  <ion-button shape="round" size="large" class="capture-btn" (click)="onCaptureClick()">
    <ion-icon name="radio-button-on-outline"></ion-icon>
  </ion-button>

  <ion-button class="toggle-btn" fill="clear"  (click)="toggleMode()">
    <!-- (click)="toggleMode()" -->
    <!-- <ion-icon style="font-size: 2rem;" [name]="mode === 'photo' ? 'barcode-outline' : 'camera-outline'"></ion-icon>  -->
      <ion-icon style="font-size: 2rem;" [name]="mode === 'photo' ? '' : 'camera-outline'"></ion-icon>
  </ion-button>
    </div>
  </div>

  <canvas #canvas hidden></canvas>

 
</ion-content>
<!-- <div *ngIf="loading1" style="width: 100%;top:0;position: fixed;height:100%;background: #000;opacity:.4;z-index: 12;"></div>
<div *ngIf="loading1" style="display: flex;flex-direction: column; width: 90%;left:5%;top:5%;position: fixed;height:90%;background: #fff;z-index: 13; border-radius: 10px;">
  <ion-icon name="close" style="    color: var(--theme-color);
    font-size: 3rem;
    position: absolute;
    right: -5%;
    top: -3%;" (click)="closePopup()"></ion-icon>
 <h2 style="text-align: center;
    margin-top: 3rem; font-size: 1.2rem;">Scanned Barcode Number</h2>
 <div  style="text-align:center;
    width:80%;
    min-height:300px;
    height:40%;
    margin-top:5%;
    border:1px solid var(--theme-color);
    left:10%;
    position:relative;
    display:flex;
    align-items:center;    font-weight: bold;
    font-size: 1.7rem;
    letter-spacing: 4px;
    border-radius: 18px;justify-content: center;">
      {{scannedBarcode}}
  </div>
   <div [ngClass]="{ 'scan-line': loading }" style="width: 80%;
    left: 10%;"></div>
  <ion-button style="display: contents;font-size:1.2rem;color:var(--theme-color)" class="toggle-btn" fill="clear" (click)="continue()">
     Continue
   </ion-button>
</div> -->
