<ion-content fullscreen style="z-index: 12;">
  <!-- Camera preview -->
  <video #video autoplay class="camera-preview"></video>

  <!-- Overlay UI -->
  <div class="overlay">
    <!-- Top bar -->
  <div class="top-bar">
  <ion-button fill="clear" color="light" (click)="goBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>

  <h2>📷 {{ mode === 'photo' ? 'Snap Food' : 'Scan Barcode' }}</h2>
</div>

    <!-- Center guide (optional scan box) -->
    <div class="scan-box"></div>

    <!-- Bottom actions -->
   <div class="bottom-bar">
  <ion-button shape="round" size="large" class="capture-btn" (click)="onCaptureClick()">
    <ion-icon name="radio-button-on-outline"></ion-icon>
  </ion-button>

  <ion-button class="toggle-btn" fill="clear" (click)="toggleMode()">
    <ion-icon style="font-size: 2rem;" [name]="mode === 'photo' ? 'barcode-outline' : 'camera-outline'"></ion-icon>
  </ion-button>
    </div>
  </div>

  <canvas #canvas hidden></canvas>

 
</ion-content>
