<ion-content  >
  <!-- {{moment(selecteddate).format('MMMM')}} -->

  <p class="month paddingIos" *ngIf="!platform"></p>
  <div
    class="main_div"
    [ngStyle]="{'border-radius':platform ?'0px':'0px','padding-bottom':'0px','margin-top':'-16px'}"
  >
  <div style="top:1rem; position:relative;">
    <ion-row>
      <ion-col>
        <div style="width: 100%;height: 200px;color:#fff;border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;padding: 1rem;background:var(--theme-profile-background)" >
          <ion-row>
            <ion-col class="ion-text-left" style="font-size: 1.1rem;">
             <b>{{profileName}} 
              <ion-icon *ngIf="compConfig?.isEditProfile"  (click)="gotoProfile()" name="pencil-outline" style="position: relative;
              width: 5%;
              top: 0.2rem;"></ion-icon></b> 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-left" style="font-size: .9rem;padding-top: .5rem;">
              {{compConfig.headerText}}
            </ion-col>
          </ion-row>
      </div>
      <ion-card style="height: 180px;
      position: absolute;
      top: 50%;
      width: 90%;
      left: 2.5%;
      margin: 0 auto;
      right: 2.5%;">
        <ion-card-content style="padding-left: 15px;">
          <ion-row>
            <ion-col class="ion-text-left" >
              <span style="font-size: 1rem;"><b>Daily intake</b></span>
            </ion-col>
            <ion-col class="ion-text-right">
              <span style="font-size: .8rem;color:#A3A3A3">
                Your Daily Target <img src="./assets/img/aim.png">
              </span>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: .5rem;">
            <ion-col>
              <ion-row>
                <ion-col class="ion-text-left"><strong><span style="color:#414042">Calories</span></strong></ion-col>
                <ion-col class="ion-text-right"><strong><span style="color:#414042">{{allData?.totalCal}} / {{profileData?.lifeStyle?.calories}} Kcal</span></strong></ion-col>
              </ion-row>
              <div style="width: 100%;background:#E9E9E9;height: 10px;border-radius: 10px;">
              <div style="height: 10px;border-radius: 10px;background: #ffc224;max-width: 100%;" [style.width.%]="((allData?.totalCal*100)/profileData?.lifeStyle?.calories)">
              </div>
            </div>
            </ion-col>
          </ion-row>
      <br>
          <ion-row>
            <ion-col class="ion-text-center" size="3.5">
              <span style="font-size: 1rem;">Carbs</span><br>
              <div style="width: 100%;background:#E9E9E9;height: 6px;border-radius: 10px;margin: .5rem;">
                <div style="height: 6px;border-radius: 10px;background: #489C75;max-width: 100%;" 
                [style.width.%]="((allData.Carbs*100)/profileData?.lifeStyle?.carb)">
                </div>
              </div>
              <span style="font-size: .8rem;">{{allData.Carbs}}/{{(profileData?.lifeStyle?.carb)?.toFixed(0)}}g</span>
            </ion-col>
            <ion-col size=".75"></ion-col>
            <ion-col class="ion-text-center" size="3.5">
              <span style="font-size: 1rem;">Protein</span><br>
              <div style="width: 100%;background:#E9E9E9;height: 6px;border-radius: 10px;margin: .5rem;">
                <div style="height: 6px;border-radius: 10px;background: #DD85E0;max-width: 100%;"
                [style.width.%]="((allData?.Protien*100)/profileData?.lifeStyle?.protien)">
                </div>
              </div>
              <span style="font-size: .8rem;">{{allData?.Protien}}/{{(profileData?.lifeStyle?.protien)?.toFixed(0)}}g</span>
            </ion-col>
            <ion-col size=".75"></ion-col>
            <ion-col class="ion-text-center" size="3.5">
              <span style="font-size: 1rem;">Fat</span><br>
              <div style="width: 100%;background:#E9E9E9;height: 6px;border-radius: 10px;margin: .5rem;">
                <div style="height: 6px;border-radius: 10px;background: #8054D7;max-width: 100%;"
                [style.width.%]="((allData?.Fat*100)/profileData?.lifeStyle?.fat)">
                </div>
              </div>
              <span style="font-size: .8rem;">{{allData?.Fat}}/{{(profileData?.lifeStyle?.fat)?.toFixed(0)}}g</span>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="1" class="ion-text-left ion-align-self-center"></ion-col>
      <ion-col size="2" class="ion-text-left ion-align-self-center" >
        <img  *ngIf="compConfig.logo!=false" src="./assets/companyLogo/fitelo.png" style="border-radius: 50%;
        width: 50%;
        position: absolute;
        top: -25px;
        left: -14px;">
        <ion-icon *ngIf="compConfig.profile1!=false" name="person-outline" (click)="gotoProfile()" class="--profile-img" style="    position: relative;
        height: 21px;
        width: 21px;
        border-radius: 25px;
        padding: 0.7rem;
        top: -5px;
        box-shadow: 2px 2px 9px #565656"></ion-icon>
        <ion-icon name="pencil-outline" *ngIf="compConfig.profile1!=false" (click)="gotoProfile()" style="color:var(--profile-color);font-size: 1.2rem;
        top: -5px;
        position: relative;"></ion-icon>
      </ion-col>
     <ion-col size="6">
      <div style="position: relative;">
        <ion-row>
          <ion-col class="ion-text-left ion-align-self-end --name" style="font-size: 1.2rem;">
            Hi {{profileName}}<br>
            <span style="font-size: .7rem;position: relative;top:-5px;color:#928d8d">
              Here's what you've to eat today 
            </span>
          </ion-col>
        </ion-row>
      </div>
     </ion-col>
      <ion-col size="1" class="ion-text-left ion-align-self-center"></ion-col>
    </ion-row> -->
    <!-- <div style="margin: .3rem 1rem;margin-top: .8rem;" *ngIf="compConfig.date_selection2!=false">
    <ion-row>
      <ion-col size="3"></ion-col>
        <ion-col size="6" class="ion-text-right ion-align-self-center" >
          <select (change)="selectDate($event)" style="width: 100%;border-color:var(--profile-color);border-radius: 12px;padding: 5px;color:#707070">
            <option *ngFor="let week of weeks;let i=index;" [value]="i">{{week.displayFormat}}</option>
          </select>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </div> -->
    <!-- <ion-row *ngIf="compConfig.profile2!=false">
      <ion-col size="2"></ion-col>
      <ion-col size="8" class="ion-text-left ion-align-self-center">
       <div style="background: #F5F5F5;
       width: 100%;
       height: 36px;
       position: relative;
       border-radius: 1rem;
       left: 1rem;">
        <ion-icon name="person-outline" (click)="gotoProfile()" class="--profile-img" style="position: relative;
        height: 21px;
        width: 21px;
        border-radius: 25px;
        padding: 0.7rem;top: -5px;"></ion-icon>
          <span  style="font-size: .751rem;
          position: absolute;
          top: 28%;
          left: 28%;">My Goal: <b style="font-size: .851rem;">{{profileData?.profile?.subCategory}}</b></span>
        </div>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row> -->
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
    <div style="position: relative;margin: 1.5rem 0;">
    <ion-row *ngIf="weeks && weeks.length" class="date-container">
      <ion-col  class="ion-text-center">
        <div class="week_array">
          <div style="float:left" *ngFor="let date of weekArray;" (click)="changeDate(date)" 
          [ngStyle]="{'color': moment(date).format('DD-MM-YYYY') == moment(newSelectedDate).format('DD-MM-YYYY')
           ?'dark-css':'cust-grey' }">
           
           <div>
            {{moment(date).format('DD-MM-YYYY') ===
            moment(today).format('DD-MM-YYYY') ? 'Today' :
            moment(date).format('DD-MM-YYYY') ===
            moment(tommorow).format('DD-MM-YYYY') ? moment(date).format('ddd') :
            moment(date).format('ddd')}}
            <br /> 
            <div  style="margin-top: .8rem;background: #EDEDED;
            padding: 8px 5px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            text-align: center;" [ngClass]="{'isSelectedDate':moment(date).format('DD-MM-YYYY') == moment(newSelectedDate).format('DD-MM-YYYY'),'dark-css':moment(date).format('DD-MM-YYYY') !== moment(newSelectedDate).format('DD-MM-YYYY')}">
            {{moment(date).format('DD')}}
          </div>
        </div>
      
        </div>
      </div>
      </ion-col>
    </ion-row>
  </div>
  <app-appointent *ngIf="compConfig?.isDietitian"
  [plan]="true"
  [profileData]="profileData?.profile"
  [duration]="plandata?.trail"
></app-appointent>

    <div class="meal_workout_title_div">
      <p class="meal_workout_title"> 
        Diet for {{moment(newSelectedDate).format('DD-MM-YYYY') ===
        moment(today).format('DD-MM-YYYY') ? 'Today' :
        moment(newSelectedDate).format('DD-MM-YYYY') ===
        moment(tomorrow).format('DD-MM-YYYY') ? 'Tomorrow' :
        moment(newSelectedDate).format('DD MMM')}} {{isDetox?'- Detox':''}} 
      </p>
    
      <div class="right" *ngIf="!isDetox">
        <!-- <p class="meal_workout_button" (click)="goToAnalysis()">Analysis</p> -->
        <ion-icon *ngIf="compConfig.pie_chart!=false"
        class="meal_workout_button"
        name="pie-chart"
        (click)="goToAnalysis()"
      ></ion-icon> 
         <ion-icon *ngIf="compConfig.download!=false"
         class="meal_workout_button"
          name="cloud-download"
          (click)="gotoDownloadPopup()"
        ></ion-icon> 
        <!-- <p
          class="meal_workout_button"
          
          (click)="gotoDownloadPopup()"
        >
          Download
        </p> -->
      </div>
      <div class="right" *ngIf="isDetox">
        <p class="meal_workout_button" (click)="switchTonormal()">
          Switch to Normal
        </p>
      </div>
    </div>
   
  
 <br>
    <div
      class="meal_workout_div"
      *ngFor="let d of diets?.diets?.slice(0,true==true? diets?.diets.length :3);let i = index"
    >
   
      <div #popover [ngClass]="'target'+i">
        <app-meal-workout *ngIf="compConfig.dietComponent!==true"
          [data]="d"
          [diets]="diets.diets"
          [index]="i"
          [selecteddate]="selecteddate"
          [end_time]="diets?.diets.length !== i+1 ? diets?.diets[i+1]?.time: diets?.diets[0]?.time"
          (getCalData)="getCalData($event,i)"
          [fullShow]="true"
          [eat]="moment(selecteddate).format('DD-MM-YYYY') === moment(today).format('DD-MM-YYYY')"
          [plan]="true" 
          (getDietdata)="getDietdata($event)"
        ></app-meal-workout>
        <app-meal-workout-c  *ngIf="compConfig.dietComponent"
        [data]="d"
        [diets]="diets.diets"
        [index]="i"
        [selecteddate]="selecteddate"
        [end_time]="diets?.diets.length !== i+1 ? diets?.diets[i+1]?.time: diets?.diets[0]?.time"
        (getCalData)="getCalData($event,i)"
        [fullShow]="true"
        [eat]="moment(selecteddate).format('DD-MM-YYYY') === moment(today).format('DD-MM-YYYY')"
        [plan]="true" 
        (getDietdata)="getDietdata($event)">
        </app-meal-workout-c>
      </div>
    </div>

 <br>
    <div style="position: relative;padding: 0 0.5rem;height: 100%;top:-1rem;" *ngIf="compConfig.notes!=false">
      <ion-card style="box-shadow: none;">
       
        <ion-card-header style="background-color: #434343;color:#fff;font-size: .8rem;font-weight: 500;padding: 10px;padding-left:1rem;">
          Note</ion-card-header>
        <ion-card-content style="background: var(--goal);">
          <p style="text-align:justify;color:#000000;font-size: .75rem;padding: 1rem;font-family:var(--theme-newFont);">
            Please follow the diet plan on daily basis.<br>
            <span *ngIf="compConfig.modifyNotes!=false">
              <ul style="padding-left: 1rem;">
                <li>Daily walk of 45 minutes.</li>
               <li *ngFor="let d of bindDesease()"> {{d}}</li>
              </ul>
            </span>
          </p>

        </ion-card-content>
      </ion-card>

    </div>
   
   </div>
  

</ion-content>
<ion-footer *ngIf="compConfig?.isSearch" style="position: fixed;
bottom: 0;
width: 100%;
left: 0;
background: #fff;
height: 63px;
padding-top: 4px;
box-shadow: 7px 5px 15px #000;
border-top-left-radius: 10px;
    border-top-right-radius: 10px;">
 <div class="search_div center">
   <ion-searchbar
   mode="md" 
     class="searchbar"
     placeholder="Search for a Food"
     (click)="gotoSearch()"
   ></ion-searchbar>
 </div>
</ion-footer>

<app-filter-card></app-filter-card>
