



@font-face {
  font-family: Nutrabox-Black;
  src: url("/assets/fonts/nutrabox/Montserrat-Black.otf") format("TrueType");
}

@font-face {
  font-family: Nutrabox-BlackItalic;
  src: url("/assets/fonts/nutrabox/Montserrat-BlackItalic.otf") format("TrueType");
}

@font-face {
  font-family: Nutrabox-bold;
  src: url("/assets/fonts/nutrabox/Montserrat-Bold.otf") format("TrueType");
}

@font-face {
  font-family: Nutrabox-BoldItalic;
  src: url("/assets/fonts/nutrabox/Montserrat-BoldItalic.otf") format("TrueType");
}

@font-face {
  font-family: Nutrabox-extended;
  src: url("/assets/fonts/nutrabox/Montserrat-ExtraLight.otf") format("TrueType");
}

@font-face {
  font-family: Nutrabox-ExtraLightItalic;
  src: url("/assets/fonts/nutrabox/Montserrat-ExtraLightItalic.otf") format("TrueType");
}

@font-face {
  font-family: Nutrabox-Italic;
  src: url("/assets/fonts/nutrabox/Montserrat-Italic.otf") format("TrueType");
}

@font-face {
  font-family: Nutrabox-light;
  src: url("/assets/fonts/nutrabox/Montserrat-Light.otf") format("TrueType");
}

@font-face {
  font-family: Nutrabox-LightItalic;
  src: url("/assets/fonts/nutrabox/Montserrat-LightItalic.otf") format("TrueType");
}

@font-face {
  font-family: Nutrabox-regular;
  src: url("/assets/fonts/nutrabox/Montserrat-Regular.ttf") format("TrueType");
}

@font-face {
  font-family: Nutrabox-Semibold;
  src: url("/assets/fonts/nutrabox/Montserrat-Semibold.otf") format("TrueType");
}

@font-face {
  font-family: Nutrabox-medium;
  src: url("/assets/fonts/nutrabox/Montserrat-Semibold.ttf") format("TrueType");
}

@font-face {
  font-family: Nutrabox-SemiboldItalic;
  src: url("/assets/fonts/nutrabox/Montserrat-SemiboldItalic.otf") format("TrueType");
}