
    <div class="inner-content">
      <img class="meal-item" src="./assets/img/meal-icon.png">
      <ion-row>
        <ion-col size="4">
          <span class="sub-head">LUNCH</span>
        </ion-col>
        <ion-col size="8">
         <span class="sub-time">1:00pm to 3:30pm</span>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 1rem;margin-bottom: 1rem;">
        <ion-col style="border-top: 2px solid #B5C1E3;"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <img class="item-img" src="./assets/img/meal-s.png">
        </ion-col>
        <ion-col size="8" class="right-content">
          <ion-row>
            <ion-col size="8" class="ion-text-left">
              <span>Weightloss Thali</span>
            </ion-col>
            <ion-col size="4" class="ion-text-left">
              <img class="veg" src="./assets/img/veg.png">
            </ion-col>
          </ion-row><br>
          <ion-row>
            <ion-col class="ion-text-left">
              300-559 Kcal
              <br>
              <span style="color:green">Excellent Choice</span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
 