.mainDiv{
    height: 100%;
    width: 100%;
}

ion-content::part(background){
    --background: var(--theme-newHeader);
}

// ion-content::part(scroll){
//     overflow-y: hidden;   
// }

.slider_div{
    height: 15%;
    width: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
    position: relative;
}


.content_div{
    min-height:85%;
    width: 100%;
    background: var(--white);
    border-radius: 30px 30px 0px 0px;
    padding:20px  5%;
}

.slider_page{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.page_Count{
    height: 20px;
    width: 20px;
    border: 2px solid var(--white);
    border-radius: 100%;
    font-size:var(--xsmall-font);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: bold;
    z-index: 10;
    background: var(--theme-newHeader);
    font-family: var(--theme-newFont);
}

.page_Count_active{
    height: 20px;
    width: 20px;
    border: 2px solid var(--white);
    border-radius: 100%;
    font-size:var(--xsmall-font);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--radio-background);
    font-weight: bold;
    z-index: 10;
    background: var(--black);
    font-family: var(--theme-newFont);
}

.lines{
    border: 1px solid var(--white);
    width: 90%;
    position: absolute;
}

.title-text{
   font-size: var(--regular-font); 
   font-family: var(--theme-newFont);
   color: var(--black);
}

.title{
    font-size: var(--medium-font);
    font-family: var(--theme-newFont);
    color: var(--black);
    font-weight: 700;
}

.fitness{
    font-size: var(--medium-font);
    font-family: var(--theme-newFont);
    color: var(--black);
    font-weight: 700;
    margin: 5px 0px;
    width: 60%;
}

.section-card{
    margin: 0%;
    padding: 15px;
    box-shadow: var(--boxshadow);
    border-radius: 10px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_Border{
    border:2px solid var(--theme-color)
}

.desc{
    font-size: var(--small-font);
    font-family: var(--theme-newFont);
    color: var(--black);
    font-weight: 300;
    margin: 0%;
    width: 60%;
}

.fitness_image{
    width: 160px;
    object-fit: contain;
    position: absolute;
    z-index: 10;
    right: -29px;
    top: -30px;
}

.weight_image{
    width: 140px;
    object-fit: contain;
    position: absolute;
    z-index: 10;
    right: -29px;
    top: -30px;
}

.desease_image{
    width: 140px;
    object-fit: contain;
    position: absolute;
    z-index: 10;
    right: -20px;
    top: -30px;
}

.card_div{
    position: relative;
    margin-top: 30px;
}

.go_btn_div{
    position: fixed;
    width: 100%;
    bottom: 25px;
    right: 0%;
}

.go_btn{
    height: 50px;
    width: 70%;
    &::part(native){
        --background: var(--theme-newButton);
        text-transform: none;
        box-shadow: var(--btnShaddow);
        color: var(--white);
        font-family: var(--theme-newFont);
    }
}

.back_btn{
    height: 50px;
    width: 70%;
    &::part(native){
        --background: var(--white);
        text-transform: none;
        box-shadow: var(--btnShaddow);
        color: var(--theme-newButton);;
        font-family: var(--theme-newFont);
        border-color: var(--theme-newButton);
    }
}

.radio_div{
    margin: 0px 20px;
    ion-radio-group{
        background: #FAFAFA;
    }
    ion-item{
        --background: #FAFAFA;
    }
}



.radio_btn_div{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   padding: 10px;
   background: var(--lightGrey);
   border-bottom: 1px solid lightgray;

   ion-radio{
    // --color:var(--theme-color);
    --color-checked:var(--theme-color);
    border: 2px solid var(--theme-newButton);
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background: var(--radio-background);
   }

   ion-radio[aria-checked="true"]{
    // --color:var(--theme-color);
    --color-checked:var(--white);
    border: 2px solid var(--theme-newButton);
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background: var(--theme-newButton);
   }

}

.check-box{
    margin-inline-end: 10px;
    --border-radius: 5px;
    --border-width: 0px;
    --border-color:var(--white);
    --background-checked:var(--white);
    --border-color-checked: var(--white);
    --checkmark-color: var(--theme-newButton);
    position: absolute;
    top: 5px;
}

.radio_btn_div2{
    border: none;
    border-radius: 0px 0px 10px 10px;
}

.radio-btn-title{
    font-size: var(--theme-text);
    font-family: var(--theme-newFont);
    color: var(--black);
    font-weight: 700;
    margin: 0px 0px 5px;
}

.radio-btn-desc{
    font-size: var(--small-font);
    font-family: var(--theme-newFont);
    color: var(--black);
    font-weight: 300;
    margin: 0%;
}

.radio_btn_col{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.radio_btn_heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

