<ion-content>
  <div class="mainDiv">
    <div class="slider_div" *ngIf="!from">
      <div class="lines"></div>
      <div class="slider_page">
        <p class="page_Count_active">1</p>
        <p class="page_Count">2</p>
        <p class="page_Count">3</p>
        <p class="page_Count">4</p>
        <p class="page_Count">5</p>
      </div>
    </div>
    <div
      class="content_div"
      [ngStyle]="from && {'border-radius':'0px','min-height':'100%'}"
    >
      <div class="w_100 right" *ngIf="from" style="padding-right: 5%">
        <ion-icon
          class="close_modal_icon"
          name="close-circle"
          (click)="modalClose()"
        ></ion-icon>
      </div>
      <p class="title-text">
        Lets start by understanding what you want to achieve <br>
        <b>Your Goal</b>
      </p>
      <ion-radio-group
        value="deasesValue"
        [(ngModel)]="newModal"
        (ionChange)="selectActivity($event)"
      >
        <div
          class="card_div"
          (click)="newModal=dt?.value"
          *ngFor="let dt of data[0]?.options;"
        >
          <img style="    width: 37%;
          position: absolute;
          z-index: 1;
          right: 0;
          top: 0%;"
            [src]="dt?.imgUrl"
          >
        
          <ion-radio
            class="radio-button"
            [value]="dt?.value"
            mode="ios"
          ></ion-radio>
          <ion-card
            class="section-card"
            [ngClass]="newModal === dt?.value && 'card_Border' "
          >
            <p class="fitness">{{dt?.name}}</p>
            <p class="desc">{{dt?.label}}</p>
          </ion-card>
        </div>
        <div
          class="card_div"
          (click)="newModal=dt1?.value"
          *ngFor="let dt1 of data[1]?.options;"
        >
          <img style="    width: 37%;
          position: absolute;
          z-index: 1;
          right: 0;
          top: 0%;"
            [src]="dt1.imgUrl"
          >
          <ion-radio
            class="radio-button"
            [value]="dt1?.value"
            mode="ios"
          ></ion-radio>
          <ion-card
            class="section-card"
            [ngClass]="newModal === dt1?.value && 'card_Border' "
          >
            <p class="fitness">{{dt1?.name}}</p>
            <p class="desc">{{dt1?.label}}</p>
          </ion-card>
        </div>
        <div
          class="card_div"
          (click)="newModal=dt2?.value"
          *ngFor="let dt2 of data[2]?.options;"
        >
          <img style="    width: 37%;
          position: absolute;
          z-index: 1;
          right: 0;
          top: 0%;"
            [src]="dt2.imgUrl"
          >
          <ion-radio
            class="radio-button"
            [value]="dt2?.value"
            mode="ios"
          ></ion-radio>
          <ion-card
            class="section-card"
            [ngClass]="newModal === dt2?.value && 'card_Border' "
          >
            <p class="fitness">{{dt2?.name}}</p>
            <p class="desc">{{dt2?.label}}</p>
          </ion-card>
        </div>
     </ion-radio-group>

      <div class="go_btn_div" *ngIf="!from">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="center">
              <ion-button
                class="back_btn"
                shape="round"
                fill="outline"
                (click)="goBack()"
                >Back</ion-button
              >
            </ion-col>
            <ion-col size="6" class="center">
              <ion-button class="go_btn" shape="round" (click)="goNext()"
                >Next</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="go_btn_div" *ngIf="from">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="center">
              <ion-button
                class="back_btn"
                shape="round"
                fill="outline"
                (click)="modalClose()"
                >Cancel</ion-button
              >
            </ion-col>
            <ion-col size="6" class="center">
              <ion-button class="go_btn" shape="round" (click)="goNext()"
                >Save</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
