.image-container {
  display: flex;
  justify-content: center;


  img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    min-height: 200px;
  }
}

ion-input.custom-input {
  --color: #fff;
  --placeholder-color: #fff;
  --placeholder-opacity: 1;
  --background: gray;
  border-radius: 5px;
  border: 1px solid #fff;
  height: 30px;
  font-size: 0.8rem;
  text-align: center;
  padding: 0 1rem !important;
}
.info-text {
  font-size: 14px;
  color: #444;
  line-height: 1.4;
}

.table-header {
  
  background: #414042;
  padding: 1rem;
  background: #AAD7A1;
  font-size: .9rem;
  font-weight: bold;
}

.table-footer {
  font-weight: bold;
  background: #f2f2f2;
}

.nutrient-header {
  font-weight: bold;
  background: #fff3c4;
}

.rating-bar {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;

  .bar {
    display: flex;
    justify-content: space-between;
       font-size: .8rem;
    color: #fff;
    background: linear-gradient(to right, red 20%, orange 20% 40%, yellowgreen 40% 60%, green 60% 80%, teal 80%);
    padding: .5rem;
    border-radius: 6px;
    text-align: center;
  }

  .indicator {
    position: absolute;
    top: -18px;
    left: 18%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid #444;
  }
}
