
.term-validated{
    color:#B83432;
    --checkmark-color:#B83432;
    --border-color-checked:#B83432;
    --background-checked:transparent;
    --border-color:#B83432;
    text-decoration: underline;
}

.term{
    color:#565656;
    --checkmark-color:#565656;
    --border-color-checked:#565656;
    --background-checked:transparent;
    --border-color:#565656;
    text-decoration: underline;
}