
@font-face {
  font-family: wellbeing-medium;
  src: url("/assets/fonts/wellbeing/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: wellbeing-regular;
  src: url("/assets/fonts/wellbeing/CircularStd-Black.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: wellbeing-bold;
  src: url("/assets/fonts/wellbeing/CircularStd-BoldItalic.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: wellbeing-extended;
  src: url("/assets/fonts/wellbeing/CircularStd-Black.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: wellbeing-light;
  src: url("/assets/fonts/wellbeing/CircularStd-Black.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}