
<div style="position: relative">
  <ion-icon class="card_logo"  name="analytics-outline"></ion-icon>
  <ion-card style="margin: 0;padding:0 .2rem;">
    <div class="header_div d_flex">
      <p>Cholesterol Tracker</p>
      <div style="float: right;cursor:pointer;font-size:.75rem; border-radius:5px;padding:2px 3px;color: var(--theme-logslot);
      border: 1px solid var(--theme-logslot);" 
      (click)="openEvent($event)" *ngIf="isShowButton">
        Details/Add
      </div>
    </div>

    <div class="ion-margin-vertical">
      <canvas class="weight-canvas-chart" height="150" #cholesterol></canvas>
    </div>
  </ion-card>
  
</div>



