.weight-log-btn {
    --background: #01A3A4;
    font-size: 1rem;
    font-family: "gt-america-standard-regular", "Helvetica Neue", Arial, sans-serif;
    --border-radius: 5px !important;
}

.close-icon {
    --inner-padding-end: 0;
    color: #01A3A4;
    font-size: 2rem;
}
.border-bottom{
    border-bottom: 1px solid #b3b3b3;
}