.searchbar {
    border: 1px solid var(--theme-color);
    color: var(--black);
    font-size: var(--small-font);
    padding: 0%;
    --border-radius: 25px;
    border-radius: 25px;
    --box-shadow: none;
    width: 90%;
    margin: 10px 5%;
    
  }
  
  .search_div{
    background: white;
    border-radius: 20px 20px 0px 0px;
    box-shadow: var(--boxshadow);
    position: relative;
  
    ion-icon{
      color: var(--theme-color);
      font-size: 30px;
      position: absolute;
      right: 10%;
    }
  }