

<ion-content>
  <div style="height:100%; background: linear-gradient(to top, #9A8DEC 35%, #ffffff 100%);
     text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;">
    <img src="./assets/icon/hurrah.png" style="    width: 88%;
    margin-bottom: 15%;">
    <div>
      <div >
      <div style="background: #D49000;color:#fff;width:50vw;height:50vw; border-radius:50%;padding:2.5rem;margin:1rem;
         border:1rem solid #FFC843;">
        <!-- <img src="./assets/icon/award.png"> -->
        <h2 style="margin: .3rem; color:#fff;font-size:3rem;display: flow;font-weight:600">10</h2>
      </div>
    </div>
    </div>
    <div>
      <p style="font-size: 2rem; color:#fff;margin-top:0">
        Upgraded to <br>Final Level 10
      </p>
    </div>
    <div style="width: 90%;position:relative;display: flex;align-items: center;margin:1rem;background: #FFC224; color:#fff;padding:.5rem;border-radius:5px;height:90px;">
      <div style="float: left; width:95%">
        <h2 style="color:#000;margin: 0; font-size:1rem;font-weight:600;"> GET YOUR REWARDS NOW! </h2>
        <p style="color:#414042;margin-top:.5rem;font-size:.75rem;">
          Use your points to get the most useful rewards. 
        </p>
      </div>
     
      <!-- <img src="./assets/icon/award.png" style="    position: absolute;
      right: -4%;
      bottom: -38%;"> -->
    </div>
  </div>
</ion-content>
