@import '../../../theme/fonts.scss';

.custom-background{
// background: #F6F7FC;
height: 50% !important;
}

ion-button{
  border: none !important;
}


  .video-container{
    width: 100%;
    height: 225px;
    object-fit: cover;
  }

