@import '../../../theme/fonts.scss';

.custom-background{
// background: #F6F7FC;
height: 50% !important;
}

ion-button{
  border: none !important;
  width: 80%;
  margin: 25px auto;
}

.video-container{
  width: 70%;
  height: auto;
  z-index: 1;
}
.video-parent {
  display: flex;
  justify-content: center;
  height: 25vh;
}

.parent {
  // background: transparent;
  // border-radius: 5px;
  // width: 84%;
  // margin: 0 auto;
  // padding: 1.5rem 0%;
  // height: auto !important;
  background: transparent;
  border-radius: 20px;
  /* width: 84%; */
  margin: 0 auto;
  padding: 1.5rem 0%;
  height: 54vh;
  position: absolute;
  width: 100%;
  top: 20%;
  background: #fff;
}

.header-text {
  margin: 15% 0 4% 0;
  font-family: var(--theme-newFont);
  color: var(--white);
}

.header-content {
  background: var(--theme-newHeader);
}

.input-row {
  position: absolute;
  width: 100%;
  top: 37%;
}

.error-message {
  color: red;
}
