<!-- <ion-header style="min-height: 4.5rem !important;">
  <ion-toolbar style="--background: #fff;
    color: #8C8E93;
    font-size: .871rem;
    margin: 0 1rem 0 1rem;--min-height: 4.5rem !important;">
    <ion-buttons slot="start">
      <p>Diet Plan</p>
    </ion-buttons>

  </ion-toolbar>
</ion-header> -->
<ion-content>
  <!-- <img src="src/assets/images/no-client-id.jpeg" style="max-height: 288px; height: auto; width: 100%" /> -->
  <ion-row class="header-content">
    <ion-col>
      <div class="ion-text-center ion-text-xl-center header-text">
        <b>Let us start!</b>
      </div>
      <div class="video-parent">
        <video preload="auto" autoplay loop muted webkit-playsinline playsinline class="video-container"
          poster="./assets/newImages/registration.svg">
        </video>
      </div>
    </ion-col>
  </ion-row>
<!-- 
  <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col size="6" class="ion-text-center">
      <ion-button style="
          font-size: 1rem !important;
          --border-radius: 100px !important;
          width: 100%;
          display: inline-block;
          margin-bottom: 1rem;" mode="ios" class="button button-green button-full" shape="round" (click)="signIn()">
        Login/Registration
      </ion-button>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>
 
  <div style="    bottom: 0;
  background: #F7BB41;
  height: 22px;
  width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;    position: fixed;">
    <div></div>
  </div> -->

  <div class="parent">
    <ion-row class="input-row" *ngIf="currentCountryCode">
      <ion-col size="12" class="ion-text-center">
        <ion-text class="ion-padding-vertical">Enter registered mobile number with {{clientId}} order</ion-text>
        <form class="centerCode">
          <ion-item class="input_item ion-margin-top" lines="none">
            <ion-intl-tel-input
              id="phone-number"
              name="phone-number"
              [defaultCountryiso]="currentCountryCode"
              [enableAutoCountrySelect]="true"
              inputPlaceholder="Phone Number"
              [(ngModel)]="phoneNumber"
              #phoneNumberControl="ngModel"
            >
            </ion-intl-tel-input>
          </ion-item>
        </form>

        <ion-button
          mode="ios"
          class="button button-full otp_btn ion-margin-top"
          shape="round"
          (click)="verifyWithClient(phoneNumber)"
          >Send OTP
        </ion-button>
        <p class="error-message" *ngIf="showErrorMsg">Could not verify from Order details. If there is an error at our end, please connect with our 
          <a target="_blank" [href]="supportUrl">
            support</a> team.
        </p>
      </ion-col>
    </ion-row>
  </div>
 <!-- <div *ngIf="isModalOpen || isDenyModal" style="top:0;width: 100%;background: #000; opacity: .5;height: 100%;position: absolute;z-index: 9;"></div>
  <ion-modal [isOpen]="isModalOpen" class="allow-popup" style="height: 50%;">
    <div>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
           <ion-button> <img slot="start" src="./assets/img/login-logo.png"></ion-button>
          </ion-buttons>
          <ion-title style="font-size: .751rem;    width: 400px;
          padding-left: 0;">
            Smart Diet planner
          </ion-title>
        </ion-toolbar>
      </ion-header>
     
      <div style="padding-left: 1rem;">
        <ion-row><ion-col class="ion-text-center" style="font-size: 1rem;">Is requesting to share following info.</ion-col></ion-row>
       <br><br>
        <ion-row><ion-col class="ion-text-left" style="font-size: .851rem;">Your Paytm profile name</ion-col></ion-row>
       
        <ion-row><ion-col class="ion-text-left" style="font-size: .851rem;">Your Phone number</ion-col></ion-row>
       
        <ion-row><ion-col class="ion-text-left"  style="font-size: .851rem;">Your Email</ion-col></ion-row>
        <br>
        <br> <br>
        <ion-row><ion-col style="font-size: .851rem;"> <ion-button style="--background:#00b9f5 !important; --color:#fff" class="button-full" (click)="confirm()">Allow</ion-button></ion-col></ion-row>
        <br>
        <ion-row><ion-col style="font-size: .851rem;"><ion-button style="--background:#f3f3f3 !important; --color:#00b9f5 !important" class="button-full" (click)="cancel()">Deny</ion-button></ion-col></ion-row>
  
      </div>

      </ng-template>
    </div>
      </ion-modal>

      <ion-modal [isOpen]="isDenyModal" class="allow-popup" style="height: 40%;">
        <div>
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
               <ion-button> <img slot="start" src="./assets/img/login-logo.png"></ion-button>
              </ion-buttons>
              <ion-title style="font-size: .751rem;    width: 400px;
              padding-left: 0;">
                Smart Diet planner
              </ion-title>
            </ion-toolbar>
          </ion-header>
         
          <div style="padding-left: 1rem;">
            <ion-row><ion-col class="ion-text-left" style="font-size: .851rem;">
            Granting consent is necessary to proceed further
            </ion-col></ion-row>
             <br> <br> <br>
            <ion-row><ion-col style="font-size: .851rem;"><ion-button style="--background:#00b9f5 !important; --color:#fff" class="button-full" (click)="denyOk()">Okay</ion-button></ion-col></ion-row>
            <br>
            <ion-row><ion-col style="font-size: .851rem;"> <ion-button style="--background:#f3f3f3 !important; --color:#00b9f5 !important" class="button-full" (click)="denyCancel()">Cancel</ion-button></ion-col></ion-row>
          
          </div>
    
          </ng-template>
        </div>
          </ion-modal> -->
</ion-content>
