
<ion-content >
  <div style="padding-top: 1.5rem; border-radius: 1rem;background: #f3f3f3;">
  <ion-row>
    <ion-col class="ion-text-right">
      <ion-icon (click)="close()" style="font-size: 2rem; color:#01a3a4;font-weight: 600;margin-right:1rem" name="close-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-card>
    <ion-card-header style="margin: 15px 25px; 
    border-bottom: 1px solid #01a3a4;
    color:#01a3a4;
    padding-bottom: 15px;">
      Analysis
    </ion-card-header>
    <!-- <ion-card-content>
      <canvas #weightCanvas></canvas>
    </ion-card-content> -->
    <ion-card-content>
      <!-- <canvas height="200" #weightCanvasNew></canvas> -->
      <app-weight-show [current]="profileData?.demographic?.currentWeight" [totalWeight]="profileData?.demographic?.weightInKg"></app-weight-show>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header style="margin: 15px 25px 0; 
      border-bottom: 1px solid #01a3a4;
      color:#01a3a4;
      padding-bottom: 15px;">
      <div class="weight-header-text">
        Weight Log
        <div (click)="addHealthData()" class="log-data">
          <span>Log</span>
        </div>
      </div>
      
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="healthData && healthData.length">
        <ion-row class="list-header border-bottom">
          <ion-col class="ion-no-padding"><b>Date</b></ion-col>
          <ion-col class="ion-text-center ion-no-padding" size="3.5"><b>Since last</b></ion-col>
          <ion-col class="ion-text-center ion-no-padding" size="3.5"><b>Weight(Kg)</b></ion-col>
        </ion-row>
        <ion-row class="content border-bottom" *ngFor="let dayData of healthData">
          <ion-col class="ion-no-padding">{{dayData.formatedDate}}</ion-col>
          <ion-col class="ion-text-center ion-no-padding" size="3.5" *ngIf="dayData.displayWeight">{{dayData.displayWeight}} Kg</ion-col>
          <ion-col class="ion-text-center ion-no-padding" size="3.5" *ngIf="dayData.healthData.weightKg">{{dayData.healthData.weightKg}} Kg</ion-col>
        </ion-row>
      </div>
      <!-- <ion-button *ngIf="healthData && healthData.length && healthData.length > 3" (click)="fullHeight = !fullHeight" class="weight-log-btn" fill="clear">
        {{fullHeight ? 'View less' : 'View more'}}
      </ion-button> -->
  
      <div>
        <!-- <ion-item lines="none">
          <ion-label>Weight</ion-label>
          <ion-input slot="end" type="number" labelPlacement="fixed" placeholder="e.g. 50kg" [(ngModel)]="logWeight"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Date</ion-label>
          <ion-input label="Date" slot="end" [max]="currentDate" labelPlacement="fixed" placeholder="Date" [value]="logDate" type="date" [(ngModel)]="logDate"></ion-input>
        </ion-item> -->
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header style="margin: 15px 25px; 
    border-bottom: 1px solid #01a3a4;
    color:#01a3a4;
    padding-bottom: 15px;">
      BMI
    </ion-card-header>
    <ion-card-content>    
      <div class="barContainer">
          <p class="bmi-text">
              {{currentBMI.value}}
              <span [ngStyle]="getColor(currentBMI.value)"[innerHTML]="setLabel(currentBMI.value)"></span>
              <span> (Current)</span>
            
            </p>
        <div class="slider">
          <div [ngStyle]="getWidth(currentBMI.value)">
              <ion-icon name="caret-down-outline"></ion-icon>
         </div>
        </div>
        <div class="bar">
          <div class="green"></div>
          <div class="light-yellow"></div>
          <div class="yellow"></div>
          <div class="orange"></div>
          <div class="red"></div>
        </div>
        <div class="value">
          <div style="width:20%">
            <p>18.5</p>
          </div>
          <div style="width:20%">
            <p>25</p>
          </div>
          <div style="width:20%">
            <p>30</p>
          </div>
          <div style="width:20%">
            <p>35</p>
          </div>
          <div style="width:20%">
            <p>40</p>
          </div>
          <div class="last-div">
              <p>45</p>
            </div>
        </div>
        <div class="slider-bottom">
            <div [ngStyle]="getWidth(targetBMI.value)">
                <ion-icon name="caret-up-outline"></ion-icon>
           </div>
           
          </div>
      </div>
      <div>
          <p class="target-text">
            {{targetBMI.value}}
            <span [ngStyle]="getColor(targetBMI.value)"[innerHTML]="setLabel(targetBMI.value)"></span>
            <span> (Target)</span>                 
          </p>
          </div>

    </ion-card-content>
  </ion-card>
    <!-- <ion-card >
        <ion-card-header style="margin: 15px 25px; 
        border-bottom: 1px solid #01a3a4;
        color:#01a3a4;
        padding-bottom: 15px;">
            Target
          </ion-card-header>
          <ion-card-content>
          <ion-row>
            <ion-col size="9" class="text-center">
              <ion-item class="weight-daily" lines="none">
                <ion-icon slot="start" name="remove-circle" class="minus" (click)="minusTargetWeight()"></ion-icon>
                <ion-input type="number" (ngModelChange)="targetChange()" [(ngModel)]="targetWeightDaily" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1">
                </ion-input>
                
                  <ion-icon slot="end" name="add-circle" class="add" (click)="plusTargetWeight()"></ion-icon>

              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-button class="save" [disabled]="targetButtonDisabled" (click)="saveTarget()">
                Save
              </ion-button>
            </ion-col>
          </ion-row> 
          </ion-card-content>
    </ion-card> -->

    <!-- <ion-card>
        <ion-card-header style="margin: 15px 25px; 
        border-bottom: 1px solid #01a3a4;
        color:#01a3a4;
        padding-bottom: 15px;">
            Current
          </ion-card-header>
          <ion-card-content>
          <ion-row>
            <ion-col size="9" class="text-center">
              <ion-item class="weight-daily" lines="none">
                  <ion-icon slot="start" name="remove-circle" class="minus" (click)="minusWeight()"></ion-icon>
                <ion-input type="number" (ngModelChange)="currentChange()" [(ngModel)]="weightDaily" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1">
                </ion-input>
                <ion-icon slot="end" name="add-circle" class="add" (click)="plusWeight()"></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-button class="save" [disabled]="currentButtonDisabled" (click)="saveCurrent()">
                Save
              </ion-button>
            </ion-col>
          </ion-row>
          </ion-card-content>
    </ion-card> -->
</div>
</ion-content>

<!--  -->