<div style="position: relative" *ngIf="loaded && data?.data?.length > 0">
  <!-- <ion-img 
    class="card_logo"
    src="../../../../assets/newImages/meal.png"
  ></ion-img> -->

  <ion-skeleton-text
    *ngIf="!loaded"
    animated
    class="sketloan"
  ></ion-skeleton-text>
  <ion-card
    *ngIf="loaded"
    [ngClass]="!fullShow && data?.data.length > 2 && 'scroll_y'"
    [ngStyle]="{'height':disabled?'100px':'auto','margin-bottom':disabled?'0px':'auto'}"
  >
    <div class="header_div" [style.background]="index===0?'#E4F3EC':index===1?'#F2E5D8':index===2?'#FBEEFC':index===3?'#E2F0F6':index===4?'#E4F3EC':index===5?'#F2E5D8':index===6?'
    #FBEEFC':index===7?'#E2F0F6':'#E4F3EC'">
      <p>
        {{data?.message}}
        <span>
          <ion-icon name="time-outline"></ion-icon
          >{{moment(data?.time,'HH:mm').format('hh:mm a')}}
        </span>
      </p>
    </div>

    <div
      *ngFor="let d of data?.data.slice(0,disabled?1 :data?.data.length );let i = index"
    >
      <div
        class="aditional_div"
        *ngIf="d?.foodStatus === 'A'
      "
      >
        <p>Additional</p>
      </div>
      <div
        class="d_flex card_main_div"
        [ngStyle]="{'border-bottom': data?.data.length !== i+1 && '1px solid var(--card-border)','padding-top':d?.foodStatus === 'A' && '0%'}"
      >
        <div class="center" (click)="gotoView(d)" style="position: relative;">
          <ion-thumbnail>
            <img
              class="card_img"
              *ngIf="d?.foodSource?.toLowerCase() == 'internal'"
              src="{{image_URL}}{{d?._id}}.jpg"
              onerror="this.src='./assets/newImages/food.svg';this.style='object-fit: contain'"
            />
            <img
              class="card_img"
              style="object-fit: contain"
              *ngIf="d?.foodSource?.toLowerCase() == 'external'"
              src="./assets/newImages/food.svg"
            />
          </ion-thumbnail>
          <p class="choice" style="background: #55A148;color:#fff;position: absolute;     top: 8px;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
          height: 1rem;
          font-size: .48rem;
          width: 100%;
          text-align: center;
          padding: 3px;
          white-space: nowrap;
      ">{{d?.option}} Choice</p>
        </div>
        <ion-grid class="w_100">
          <ion-row style="margin-top: 5px;margin-left: 5px;">
            <ion-col size="10">
              <p class="meal_pro">{{d?.Food}}</p>
              <p class="meal_cal" style="margin-top: 5px;">{{d?.portion}} {{d?.portion_unit}}/ {{Math.round(d?.Calories)}} Kcal</p>
            </ion-col>

            <ion-col size="2" class="right" style="align-items: flex-start">
              <div
                class="dot_boarder"
                [ngStyle]="{'border-color':d?.foodType==='Ve' || d?.foodType==='V' ? 'var(--green)' : d?.foodType==='E' ? 'var(--yellow)': d?.foodType==='NV' ?'var(--red)':'lightgrey'}"
              >
                <div
                  class="dot"
                  [ngStyle]="{'background':d?.foodType==='Ve' || d?.foodType==='V' ? 'var(--green)' : d?.foodType==='E' ? 'var(--yellow)':  d?.foodType==='NV' ?'var(--red)':'lightgrey'}"
                ></div>
              </div>
            </ion-col>
          </ion-row>

          <div class="meal_pro_div" style="margin-top: 10px;">
            <div>
              <span *ngIf="compConfig.itemCalories!=false">
              </span>
            </div>
          
          </div>
          <div style="float: left;width: 97%;">
            <ion-row>
              <ion-col class="ion-text-left">
              <ion-button
              class="logged_btn"
              (click)="addCal(d,i)"
              style="--background: var(--profile-color);color:#fff;width:100%;height:30px;font-size: .75rem;--border-radius: 5px;"
              *ngIf="!d.eaten || d?.eaten < 0">
              Log
              <ion-icon name="add-outline" style="color: #fff;margin-left: 5px;"></ion-icon>
            </ion-button>
            <ion-button
            *ngIf="d?.eaten > 0 "
            class="logged_btn"
            style="--background: var(--profile-color);color:#fff;width:100%;height:30px;font-size: .75rem;--border-radius: 5px;"
            (click)="logged(d)">
            Logged
            <ion-icon style="color:#fff;margin-left:5px;" name="checkmark"></ion-icon>
          </ion-button>
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-button
                *ngIf="!d.eaten || d?.eaten < 0"
                fill="outline"
                style="color:#414042;width:100%;height:30px;font-size: .75rem;--border-radius: 5px;--border-color:#414042;"
                class="logged_btn"
                (click)="changed(d)">
                  &nbsp; Alternatives
                  <ion-icon name="chevron-forward-outline" style="color: #414042;margin-left:5px;"></ion-icon>
              </ion-button>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
     
    </div>
 
    <div *ngIf="data?.data?.length  === 0">
      <p class="no_data_title">"Eat Better Not Less"</p>
      <p class="no_data_subtitle">Your slot is empty.</p>
      <p class="no_data_subtitle">Add something from the meal options.</p>
      <ion-img src="../../../../assets/newImages/no-meal.png"></ion-img>
    </div>
  </ion-card>

  <div class="center more_button_div" *ngIf="!fullShow">
    <ion-button shape="round" fill="outline" (click)="gotoOption()"
      >View Diet Plan</ion-button
    >
  </div>
</div>
<div *ngIf="isShow">
<div style="background: #000;
position: fixed; top:0;
height: 100%;width: 100%;
opacity: .5;z-index: 11;
left:0;
right:0;
"></div>
<div style="background: #fff;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
position: fixed; top:25%;
height: 75%;width: 100%;
z-index: 12;left:0;
right:0;
opacity: 1;
">
<img src="{{popup?.imageUrl}}" style="width: 100%;height: auto;top:0;position: relative;left:0; border-top-left-radius: 10px;
border-top-right-radius: 10px;   max-height: 45%;"><br><br>
<img src="./assets/img/close.png" style="position: absolute;top:.5rem;right:.5rem;" (click)="isShow=false;">
<div style="position: relative;padding: 1rem;height:40%">
<ion-row>
  <ion-col class="ion-text-left">
    <span style="font-size: 1rem;font-weight: 600;">{{popup?.Food}}</span>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col class="ion-text-left">
    <span style="font-size: .7rem;color:#a3a3a3">Quantity: {{popup?.portion}} - {{popup?.portion_unit}}    </span>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col class="ion-text-left">
    <span style="font-size: .7rem;color:#a3a3a3">Calories: {{popup?.Calories}} Kcal - Carbs: {{popup?.Carbs}}g - Protien: {{popup?.Protien}}g - Fat: {{popup?.Fat}}g   </span>
  </ion-col>
</ion-row>
<ion-row style="margin-top: .5rem;">
  <ion-col class="ion-text-left">
    <div style="height: 100px;overflow-y: scroll;">
    <span style="font-size: .75rem;color:#7C7C7C" *ngIf="popup?.recipe!=undefined">{{popup?.recipe}}  </span><br>
    <span style="font-size: .75rem;color:#7C7C7C" *ngIf="popup?.steps!=undefined">{{popup?.steps}}  </span>
  </div>
  </ion-col>
</ion-row>

</div>
<ion-row style="position: absolute;bottom: 1rem;width: 100%;">
  <ion-col class="ion-text-left">
    <ion-button
    *ngIf="!popup.eaten || popup?.eaten < 0"
    fill="outline"
    style="color:#414042;width:90%;height:44px;font-size: .75rem;--border-radius: 5px;--border-color:#414042;    margin-left: 1rem;"
    class="logged_btn"
    (click)="changed(popup)">
      &nbsp; Alternatives
      <ion-icon name="chevron-forward-outline" style="color: #414042;margin-left:5px;"></ion-icon>
  </ion-button>
  </ion-col>
  <ion-col class="ion-text-left">
  <ion-button
  class="logged_btn"
  (click)="addCal(popup,i)"
  style="--background: var(--profile-color);color:#fff;width:90%;height:44px;font-size: .75rem;--border-radius: 5px;"
  *ngIf="!popup.eaten || popup?.eaten < 0">
  Log
  <ion-icon name="add-outline" style="color: #fff;margin-left: 5px;"></ion-icon>
</ion-button>
<ion-button
*ngIf="popup?.eaten > 0 "
class="logged_btn"
style="--background: var(--profile-color);color:#fff;width:90%;height:44px;font-size: .75rem;--border-radius: 5px;"
(click)="logged(popup)">
Logged
<ion-icon style="color:#fff;margin-left:5px;" name="checkmark"></ion-icon>
</ion-button>
  </ion-col>
 
</ion-row>
</div>
</div>
