<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-icon slot="end" name="close-circle-outline" class="close-icon" (click)="close()"></ion-icon>
  </ion-item>
  <ion-item lines="none" no-Padding no-Margin>
    <ion-label style="font-size: 1.2rem;color:#01a3a4">Blood Glucose</ion-label>
  </ion-item>
  <ion-item lines="none" >
    <ion-label style="width: 25%;">Fasting <span style="color:red">*</span></ion-label>
    <ion-input class="border-bottom"  type="number"  [ngClass]="{ 'error': !fasting }" [(ngModel)]="fasting" placeholder="100"
    (ionInput)="fasting = $event.target.value"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label style="width: 25%;">Random <span style="color:red">*</span></ion-label>
    <ion-input class="border-bottom"   [ngClass]="{ 'error': !random }" [(ngModel)]="random" placeholder="80"
    (ionInput)="random = $event.target.value"></ion-input>
  </ion-item>
  <ion-item class="border-bottom" >
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" 
    (ionChange)="logDate = $event.detail.value" [(ngModel)]="logDate"></ion-datetime>
  </ion-item>
  <ion-button (click)="addHealthData(fasting,random)"  class="weight-log-btn ion-margin" expand="block">Log</ion-button>
</ion-content>