<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-icon slot="end" name="close-circle-outline" class="close-icon" (click)="close()"></ion-icon>
  </ion-item>
  <ion-item lines="none" no-Padding no-Margin>
    <ion-label style="font-size: 1.2rem;color:#01a3a4">Cholesterol</ion-label>
  </ion-item>
  <ion-item  lines="none">
    <ion-label style="width: 40%;">Total Cholestol <span style="color:red">*</span></ion-label>
    <ion-input class="border-bottom"  type="number"  [ngClass]="{ 'error': !total }" [value]="total" placeholder="100"
    (ionInput)="total = $event.target.value"></ion-input>
  </ion-item>
  <ion-item  lines="none">
    <ion-label  style="width: 40%;">LDL Cholestol <span style="color:red">*</span></ion-label>
    <ion-input class="border-bottom"  type="number"  [ngClass]="{ 'error': !ldl }" [value]="ldl" placeholder="50"
    (ionInput)="ldl = $event.target.value"></ion-input>
  </ion-item>
  <ion-item  lines="none">
    <ion-label style="width: 40%;">HDL Cholestol <span style="color:red">*</span></ion-label>
    <ion-input class="border-bottom" type="number"   [ngClass]="{ 'error': !hdl }" [value]="hdl" placeholder="50"
    (ionInput)="hdl = $event.target.value"></ion-input>
  </ion-item>
  <ion-item  lines="none">
    <ion-label style="width: 40%;">Triglycerides <span style="color:red">*</span></ion-label>
    <ion-input class="border-bottom"  type="number"  [ngClass]="{ 'error': !triglycerides }" [value]="triglycerides" placeholder="100"
    (ionInput)="triglycerides = $event.target.value"></ion-input>
  </ion-item>
  <ion-item  lines="none">
    <ion-label>Date</ion-label>
    <ion-datetime class="border-bottom" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" 
    (ionChange)="logDate = $event.detail.value" [value]="logDate"></ion-datetime>
  </ion-item>
  <ion-button (click)="addHealthData()" [disabled]="!total  || !ldl || !hdl || !triglycerides" class="weight-log-btn ion-margin" expand="block">Log</ion-button>
</ion-content>