@font-face {
  font-family: vieroots-Black;
  src: url("/assets/fonts/vieroots/blauerNue-Bold.ttf") format("TrueType");
}

@font-face {
  font-family: vieroots-BlackIt;
  src: url("/assets/fonts/vieroots/BlauerNue-Bold_Italic.ttf")
    format("TrueType");
}

@font-face {
  font-family: vieroots-Bold;
  src: url("/assets/fonts/vieroots/BlauerNue-Bold.ttf") format("TrueType");
}

@font-face {
  font-family: vieroots-BoldIt;
  src: url("/assets/fonts/metropolis/BlauerNue-Bold_Italic.ttf")
    format("TrueType");
}

@font-face {
  font-family: vieroots-ExtraLight;
  src: url("/assets/fonts/vieroots/BlauerNue-ExtraLight.ttf") format("TrueType");
}

@font-face {
  font-family: vieroots-ExtraLightIt;
  src: url("/assets/fonts/vieroots/BlauerNue-ExtraLight_Italic.ttf")
    format("TrueType");
}

@font-face {
  font-family: vieroots-It;
  src: url("/assets/fonts/vieroots/BlauerNue-Regular_Italic.ttf")
    format("TrueType");
}

@font-face {
  font-family: vieroots-Light;
  src: url("/assets/fonts/vieroots/BlauerNue-Light.ttf") format("TrueType");
}

@font-face {
  font-family: vieroots-LightIt;
  src: url("/assets/fonts/vieroots/BlauerNue-Light_Italic.ttf")
    format("TrueType");
}

@font-face {
  font-family: vieroots-Regular;
  src: url("/assets/fonts/vieroots/BlauerNue-Regular.ttf") format("TrueType");
}

@font-face {
  font-family: vieroots-Semibold;
  src: url("/assets/fonts/vieroots/BlauerNue-Semibold.ttf") format("TrueType");
}

@font-face {
  font-family: vieroots-SemiboldIt;
  src: url("/assets/fonts/vieroots/BlauerNue-Semibold_Italic.ttf")
    format("TrueType");
}

@font-face {
  font-family: vieroots-SemiboldIt;
  src: url("/assets/fonts/vieroots/BlauerNue-Semibold_Italic.ttf")
    format("TrueType");
}
