@font-face {
    font-family: metropolis-Black;
    src: url("/assets/fonts/metropolis/Ubuntu-B.ttf") format("TrueType");
}

@font-face {
    font-family: metropolis-BlackIt;
    src: url("/assets/fonts/metropolis/Ubuntu-B.ttf") format("TrueType");
}

@font-face {
    font-family: metropolis-Bold;
    src: url("/assets/fonts/metropolis/Ubuntu-B.ttf") format("TrueType");
}

@font-face {
    font-family: metropolis-BoldIt;
    src: url("/assets/fonts/metropolis/Ubuntu-B.ttf") format("TrueType");
}

@font-face {
    font-family: metropolis-ExtraLight;
    src: url("/assets/fonts/metropolis/Ubuntu-L.ttf") format("TrueType");
}

@font-face {
    font-family: metropolis-ExtraLightIt;
    src: url("/assets/fonts/metropolis/Ubuntu-L.ttf") format("TrueType");
}

@font-face {
    font-family: metropolis-It;
    src: url("/assets/fonts/metropolis/Ubuntu-R.ttf") format("TrueType");
}

@font-face {
    font-family: metropolis-Light;
    src: url("/assets/fonts/metropolis/Ubuntu-L.ttf") format("TrueType");
}

@font-face {
    font-family: metropolis-LightIt;
    src: url("/assets/fonts/metropolis/Ubuntu-L.ttf") format("TrueType");
}

@font-face {
    font-family: metropolis-Regular;
    src: url("/assets/fonts/metropolis/Ubuntu-R.ttf") format("TrueType");
}

@font-face {
    font-family: metropolis-Semibold;
    src: url("/assets/fonts/metropolis/Ubuntu-B.ttf") format("TrueType");
}

@font-face {
    font-family: metropolis-Semibold;
    src: url("/assets/fonts/metropolis/Ubuntu-B.ttf") format("TrueType");
}

@font-face {
    font-family: metropolis-SemiboldIt;
    src: url("/assets/fonts/metropolis/Ubuntu-B.ttf") format("TrueType");
}