<ion-content>
    <ion-skeleton-text
    animated
    class="sketloan"
  ></ion-skeleton-text>

  <ion-row>
    <ion-col style="margin-right: 1rem;">
        <ion-skeleton-text
        style="height: 35px; margin-right:1rem;"
        animated
        class="sketloan"
      ></ion-skeleton-text>
    </ion-col>
    <ion-col style="margin-right: 1rem;">
        <ion-skeleton-text
        style="height: 35px; margin-right:1rem;"
        animated
        class="sketloan"
      ></ion-skeleton-text>
    </ion-col>
    <ion-col style="margin-right: 1rem;">
        <ion-skeleton-text
        style="height: 35px; margin-right:1rem;"
        animated
        class="sketloan"
      ></ion-skeleton-text>
    </ion-col>
    <ion-col style="margin-right: 1rem;">
        <ion-skeleton-text
        style="height: 35px; margin-right:1rem;"
        animated
        class="sketloan"
      ></ion-skeleton-text>
    </ion-col>
    <ion-col style="margin-right: 1rem;">
        <ion-skeleton-text
        style="height: 35px; margin-right:1rem;"
        animated
        class="sketloan"
      ></ion-skeleton-text>
    </ion-col>
    <ion-col style="margin-right: 1rem;">
        <ion-skeleton-text
        style="height: 35px; margin-right:1rem;"
        animated
        class="sketloan"
      ></ion-skeleton-text>
    </ion-col>
    <ion-col style="margin-right: 1rem;">
        <ion-skeleton-text
        style="height: 35px; margin-right:1rem;"
        animated
        class="sketloan"
      ></ion-skeleton-text>
    </ion-col>
  
  </ion-row>
  
  <ion-row>
    <ion-col style="margin-right: 1rem;">
        <ion-skeleton-text
        style="height: 70px; margin-right:1rem;"
        animated
        class="sketloan"
      ></ion-skeleton-text>
    </ion-col>
    <ion-col style="margin-right: 1rem;">
        <ion-skeleton-text
        style="height: 70px; margin-right:1rem;"
        animated
        class="sketloan"
      ></ion-skeleton-text>
    </ion-col>
    <ion-col style="margin-right: 1rem;">
        <ion-skeleton-text
        style="height: 70px; margin-right:1rem;"
        animated
        class="sketloan"
      ></ion-skeleton-text>
    </ion-col>
    <ion-col style="margin-right: 1rem;">
        <ion-skeleton-text
        style="height: 70px; margin-right:1rem;"
        animated
        class="sketloan"
      ></ion-skeleton-text>
    </ion-col>
    <ion-col style="margin-right: 1rem;">
        <ion-skeleton-text
        style="height: 70px; margin-right:1rem;"
        animated
        class="sketloan"
      ></ion-skeleton-text>
    </ion-col>
    <ion-col style="margin-right: 1rem;">
        <ion-skeleton-text
        style="height: 70px; margin-right:1rem;"
        animated
        class="sketloan"
      ></ion-skeleton-text>
    </ion-col>
    <ion-col style="margin-right: 1rem;">
        <ion-skeleton-text
        style="height: 70px; margin-right:1rem;"
        animated
        class="sketloan"
      ></ion-skeleton-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <ion-skeleton-text
        style="height: 35px; margin-right:1rem; width:50%;"
        animated
        class="sketloan"
      ></ion-skeleton-text>
    </ion-col>
  </ion-row>
  <ion-skeleton-text
  animated
  class="sketloan"
></ion-skeleton-text>

<ion-skeleton-text
animated
class="sketloan"
></ion-skeleton-text>

<ion-skeleton-text
animated
class="sketloan"
></ion-skeleton-text>

<ion-skeleton-text
animated
class="sketloan"
></ion-skeleton-text>

</ion-content>