<!-- <ion-header>
  <ion-toolbar>
    <ion-title>meal-pref-page</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content style="--background:#0A1F5B;">
  <div class="meal-pref">
    <ion-card style="padding-bottom: 6rem;">
      <ion-card-component>
        <br>
        <ion-row>
          <ion-col class="ion-text-left">
            <span class="q-font">
              For which of the slots you’ll prefer Eat Fit?
            </span>
          </ion-col>
        </ion-row><br>
        <ion-row>
          <ion-col class="ion-text-left radio_btn_div" size="12" style="padding: 0;">
            <ion-radio-group mode="md" style="    width: 90%;"
            [(ngModel)]="choice" (ionChange)="selectSlot($event)">
            <ion-row>
              <ion-col class="ion-text-left" size="6">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-radio value="2" checked="true"></ion-radio>
                  <ion-label>Breakfat</ion-label>
              </ion-item>
              </ion-col>
              <ion-col class="ion-text-left" size="6">
                <ion-item lines="none" class="ion-no-padding" >
                  <ion-radio value="4" ></ion-radio>
                  <ion-label>Lunch</ion-label>
              </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-left" size="6">
                <ion-item lines="none" class="ion-no-padding" >
                  <ion-radio value="6" ></ion-radio>
                  <ion-label>Snacks</ion-label>
              </ion-item>
              </ion-col >
              <ion-col class="ion-text-left" size="6">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-radio value="7" ></ion-radio>
                  <ion-label>Dinner</ion-label>
              </ion-item>
              </ion-col>
            </ion-row>
            </ion-radio-group>
          </ion-col>
        </ion-row><br>
        <ion-row>
          <ion-col class="ion-text-left">
            <span class="q-font">
              Please select the preferred meal for lunch
            </span>
          </ion-col>
        </ion-row><br>
        <ion-row>
          <ion-col class="ion-text-left">
            <div class="go_btn_div">
              <ion-grid>
                <ion-row>
                  <ion-col size="3" class="ion-text-left">
                    <ion-button
                    style="    width: 80px;
                    padding-left: 0;"
                      class="back_btn"
                      fill="outline"
                      [ngClass]="{'go_btn':selectedItem==='Veg'}"
                      (click)="selectFootPref('Veg')"
                      >Veg</ion-button
                    >
                  </ion-col>
                  <ion-col size="7" class="ion-text-left">
                    <ion-button class="back_btn" fill="outline" [ngClass]="{'go_btn':selectedItem==='Non Veg'}" (click)="selectFootPref('Non Veg')"
                      >Non Veg</ion-button
                    >
                  </ion-col>
                  <ion-col size="2"></ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
        <div style="position: relative;">
          <!-- <app-meal-pref [documents]="fit?.documents" [slots]="choice" [foodPref]="foodPref"></app-meal-pref> -->
          <div class="meal-pref-component">
            <br>
            <ion-radio-group mode="ios" (click)="selectedPref(index,fit)" value="{{choiceSelection}}"
             *ngFor="let fit of totalItems; let index = index;" >
            <div class="-box-area -left"  
            [ngClass]="{'-left':(index+1)%2!==0, '-right':(index+1)%2===0}">
              <div class="-box">
                <ion-radio value="{{index}}"></ion-radio>
             <img src="{{fit?.image_id}}" [ngClass]="{'-border':choiceSelection===index}">
             </div>
             <span class="calori">{{fit?.calories_range}}</span>
            </div>
          </ion-radio-group>
          </div> 
          
        </div>
      </ion-card-component>
    </ion-card>
   
    <div class="footer">
      <div class="go_btn_div1">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="center">
              <ion-button
                class="back_btn1"
                shape="round"
                fill="outline"
                (click)="back()"
                >Cancel</ion-button
              >
            </ion-col>
            <ion-col size="6" class="center">
              <ion-button class="go_btn1" shape="round" (click)="goNext()"
                >Good to go</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  
</ion-content>
