
@font-face {
  font-family: aviva-medium;
  src: url("/assets/fonts/aviva/SourceSansPro-SemiBold.ttf") format("TrueType");
}

@font-face {
  font-family: aviva-regular;
  src: url("/assets/fonts/aviva/SourceSansPro-Bold.ttf") format("TrueType");
}

@font-face {
  font-family: aviva-bold;
  src: url("/assets/fonts/aviva/SourceSansPro-Bold.ttf") format("TrueType");
}

@font-face {
  font-family: aviva-extended;
  src: url("/assets/fonts/aviva/SourceSansPro-Light.ttf") format("TrueType");
}

@font-face {
  font-family: aviva-light;
  src: url("/assets/fonts/aviva/SourceSansPro-Light.ttf") format("TrueType");
}