<div style="padding: 5px 5%; background: var(--white)">
  <p class="slot-heading">Which meal you would like to track?</p>

</div>

<ion-content>

  <ion-card>
    <ion-list lines="full">
      <ion-item class="line-height">
        <ion-label>When You Wake up</ion-label>
        <div class="right" (click)="slotNumber(0)">
          <ion-icon class="plus_icon" name="add-circle"></ion-icon>
        </div>
      </ion-item>
      <ion-item class="line-height">
        <ion-label>Before Breakfast</ion-label>
        <div class="right" (click)="slotNumber(1)">
          <ion-icon class="plus_icon" name="add-circle"></ion-icon>
        </div>
      </ion-item>
      <ion-item class="line-height">
        <ion-label>Breakfast</ion-label>
        <div class="right" (click)="slotNumber(2)">
          <ion-icon class="plus_icon" name="add-circle"></ion-icon>
        </div>
      </ion-item>
      <ion-item class="line-height">
        <ion-label>Mid Day Meal</ion-label>
        <div class="right" (click)="slotNumber(3)">
          <ion-icon class="plus_icon" name="add-circle"></ion-icon>
        </div>
      </ion-item>
      <ion-item class="line-height">
        <ion-label>Lunch</ion-label>
        <div class="right" (click)="slotNumber(4)">
          <ion-icon class="plus_icon" name="add-circle"></ion-icon>
        </div>
      </ion-item>
      <ion-item class="line-height">
        <ion-label>Post Lunch</ion-label>
        <div class="right" (click)="slotNumber(5)">
          <ion-icon class="plus_icon" name="add-circle"></ion-icon>
        </div>
      </ion-item>
      <ion-item class="line-height">
        <ion-label>Evening Snack</ion-label>
        <div class="right" (click)="slotNumber(6)">
          <ion-icon class="plus_icon" name="add-circle"></ion-icon>
        </div>
      </ion-item>
      <ion-item class="line-height">
        <ion-label>Dinner</ion-label>
        <div class="right" (click)="slotNumber(7)">
          <ion-icon class="plus_icon" name="add-circle"></ion-icon>
        </div>
      </ion-item>
      <ion-item class="line-height">
        <ion-label>Before Sleep</ion-label>
        <div class="right" (click)="slotNumber(8)">
          <ion-icon class="plus_icon" name="add-circle"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>