<ion-content>
  <div class="mainDiv">
    <div class="header_div">
      <!-- <div class="slider_div">
        <div class="lines"></div>
        <div class="slider_page">
          <p class="page_Count_active">1</p>
          <p class="page_Count">2</p>
          <p class="page_Count">3</p>
          <p class="page_Count">4</p>
          <p class="page_Count">5</p>
        </div>
      </div> -->

      <h3 class="title ion-text-center">Let us start!</h3>
      
    </div>

    <div class="content_div">
      <ion-img *ngIf="client!='plix' && client!='orthocure'"
        src="../../../assets/newImages/registration.svg"
        class="reg_img"
      ></ion-img>
      <img *ngIf="client==='plix'"
        src="./assets/newImages/plixlogo.jpeg"
        style="    width: 24%;
        position: absolute;
        left: 38%;
        top: 5rem;
        border-radius: 1rem;">
         <img *ngIf="client==='orthocure'"
         src="./assets/newImages/orthocure.png"
         style="width: 50%;
         position: absolute;
         left: 24%;
         top: 5rem;
         border-radius: 1rem;">
     
      <h3 class="title-text ion-text-center">Hey, answer a few questions to help us get your personlised plan</h3>

      <ion-input
        class="input"
        placeholder="Your Name"
        [(ngModel)]="name"
      ></ion-input>
    </div>
    <div class="go_btn_div">
      <ion-button class="go_btn" shape="round" (click)="goNext()"
        >Let's Start</ion-button
      >
    </div>
  </div>
</ion-content>
<!-- <ion-footer collapse="fade">
  <div class="go_btn_div">
    <ion-button class="go_btn" shape="round" (click)="goNext()"
      >Lets get to know you</ion-button
    >
  </div>
</ion-footer> -->
