
@font-face {
  font-family: stepgo-medium;
  src: url("/assets/fonts/fitelo/Figtree-Medium.ttf") format("TrueType");
}

@font-face {
  font-family: stepgo-regular;
  src: url("/assets/fonts/fitelo/Figtree-Bold.ttf") format("TrueType");
}

@font-face {
  font-family: stepgo-bold;
  src: url("/assets/fonts/fitelo/Figtree-Bold.ttf") format("TrueType");
}

@font-face {
  font-family: stepgo-extended;
  src: url("/assets/fonts/fitelo/Figtree-Light.ttf") format("TrueType");
}

@font-face {
  font-family: stepgo-light;
  src: url("/assets/fonts/fitelo/Figtree-Light.ttf") format("TrueType");
}