<!-- <ion-header>
  <ion-toolbar>
    <ion-title>calories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> -->
  <ion-card
  class="water_main_card center flex_col">
  <div class="header_div center">
    <ion-img src="../../../../assets/newImages/calori-consume.png"></ion-img>
    <p>Nutrition Info</p>
  </div>
  <div class="w_100" style="margin: 20px 0px">
    <ion-grid  style="padding-left: 0%" *ngIf="compConfig.caloriesCircle!=false">
      <ion-row>
        <ion-col size="7" class="center">
          <div class="circle_progress_div">
            <circle-progress
            [percent]="(100 * allData?.totalCal) /lifeStyle?.calories"
              [radius]="55"
              [outerStrokeWidth]="8"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#F77100'"
              [innerStrokeColor]="'#E0E0E0'"
              [animation]="true"
              [animationDuration]="300"
              [clockwise]="true"
              [title]="(allData?.totalCal || 0) +'/'+( lifeStyle?.calories || 0)"
              [subtitle]="'Kcal'"
              [showUnits]="false"
            >
            </circle-progress>
            <!-- <ion-icon
              class="plus_icon"
              name="add-circle"
              (click)="gotoDiet()"
            ></ion-icon> -->
          </div>
        </ion-col>
        <ion-col size="5">
          <div>
            <div style="display: flex">
              <div class="center">
                <ion-img
                  src="../../../../assets/newImages/protein.png"
                  class="card_cal_image"
                ></ion-img>
              </div>
              <div style="margin-left: 5px">
                <p class="protien_text">
                  Protein ({{lifeStyle?.protien | number : '1.0-0'
                  }}gm)
                </p>
                <p class="protien_unit">{{allData?.Protien}} gm</p>
              </div>
            </div>

            <div style="margin-top: 5px">
              <ion-progress-bar
                class="protien_progress"
                [value]="allData?.Protien/lifeStyle?.protien"
              ></ion-progress-bar>
            </div>
          </div>

          <div style="margin-top: 20px">
            <div style="display: flex">
              <div class="center">
                <ion-img
                  src="../../../../assets/newImages/fats.png"
                  class="card_cal_image"
                ></ion-img>
              </div>
              <div style="margin-left: 5px">
                <p class="protien_text">
                  Fats ({{lifeStyle?.fat | number : '1.0-0'}}gm)
                </p>
                <p class="protien_unit">{{allData?.Fat}} gm</p>
              </div>
            </div>
            <div style="margin-top: 5px">
              <ion-progress-bar
                class="fat_progress"
                [value]="allData?.Fat/lifeStyle?.fat"
              ></ion-progress-bar>
            </div>
          </div>

          <div style="margin-top: 20px">
            <div style="display: flex">
              <div class="center">
                <ion-img
                  src="../../../../assets/newImages/carbs.png"
                  class="card_cal_image"
                ></ion-img>
              </div>
              <div style="margin-left: 5px">
                <p class="protien_text">
                  Carbs ({{lifeStyle?.carb | number : '1.0-0'
                  }}gm)
                </p>
                <p class="protien_unit">{{allData?.Carbs}} gm</p>
              </div>
            </div>
            <div style="margin-top: 5px">
              <ion-progress-bar
                class="carb_progress"
                [value]="allData?.Carbs/lifeStyle?.carb"
              ></ion-progress-bar>
            </div>
          </div>

          <div style="margin-top: 20px">
            <div style="display: flex">
              <div class="center">
                <ion-img
                  src="../../../../assets/newImages/calorie.png"
                  class="card_cal_image"
                ></ion-img>
              </div>
              <div style="margin-left: 5px">
                <p class="protien_text">
                  Fiber ({{lifeStyle?.fiber}}gm)
                </p>
                <p class="protien_unit">{{allData?.Fiber}} gm</p>
              </div>
            </div>
            <div style="margin-top: 5px">
              <ion-progress-bar
                class="fiber_progress"
                [value]="allData?.Fiber/lifeStyle?.fiber"
              ></ion-progress-bar>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid style="padding-left: 0%" *ngIf="compConfig.caloriesCircle!=false">
      <ion-row>
        <ion-col size="12">
          <div>
            <div style="display: flex">
              <div class="center">
                <ion-img
                  src="../../../../assets/newImages/protein.png"
                  class="card_cal_image"
                ></ion-img>
              </div>
              <div style="margin-left: 5px">
                <p class="protien_text">
                  Protein ({{lifeStyle?.protien | number : '1.0-0'
                  }}gm)
                </p>
                <p class="protien_unit">{{allData?.Protien}} gm</p>
              </div>
            </div>

            <div style="margin-top: 5px">
              <ion-progress-bar
                class="protien_progress"
                [value]="allData?.Protien/lifeStyle?.protien"
              ></ion-progress-bar>
            </div>
          </div>

          <div style="margin-top: 20px">
            <div style="display: flex">
              <div class="center">
                <ion-img
                  src="../../../../assets/newImages/fats.png"
                  class="card_cal_image"
                ></ion-img>
              </div>
              <div style="margin-left: 5px">
                <p class="protien_text">
                  Fats ({{lifeStyle?.fat | number : '1.0-0'}}gm)
                </p>
                <p class="protien_unit">{{allData?.Fat}} gm</p>
              </div>
            </div>
            <div style="margin-top: 5px">
              <ion-progress-bar
                class="fat_progress"
                [value]="allData?.Fat/lifeStyle?.fat"
              ></ion-progress-bar>
            </div>
          </div>

          <div style="margin-top: 20px">
            <div style="display: flex">
              <div class="center">
                <ion-img
                  src="../../../../assets/newImages/carbs.png"
                  class="card_cal_image"
                ></ion-img>
              </div>
              <div style="margin-left: 5px">
                <p class="protien_text">
                  Carbs ({{lifeStyle?.carb | number : '1.0-0'
                  }}gm)
                </p>
                <p class="protien_unit">{{allData?.Carbs}} gm</p>
              </div>
            </div>
            <div style="margin-top: 5px">
              <ion-progress-bar
                class="carb_progress"
                [value]="allData?.Carbs/lifeStyle?.carb"
              ></ion-progress-bar>
            </div>
          </div>

          <div style="margin-top: 20px">
            <div style="display: flex">
              <div class="center">
                <ion-img
                  src="../../../../assets/newImages/calorie.png"
                  class="card_cal_image"
                ></ion-img>
              </div>
              <div style="margin-left: 5px">
                <p class="protien_text">
                  Fiber ({{lifeStyle?.fiber}}gm)
                </p>
                <p class="protien_unit">{{allData?.Fiber}} gm</p>
              </div>
            </div>
            <div style="margin-top: 5px">
              <ion-progress-bar
                class="fiber_progress"
                [value]="allData?.Fiber/lifeStyle?.fiber"
              ></ion-progress-bar>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-card>
<!-- </ion-content> -->
