<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-icon slot="end" name="close-circle-outline" class="close-icon" (click)="close()"></ion-icon>
  </ion-item>
  <ion-item lines="none" no-Padding no-Margin>
    <ion-label style="font-size: 1.2rem;color:#01a3a4">Blood Pressure</ion-label>
  </ion-item>
  <ion-item class="border-bottom" >
    <ion-label>Min</ion-label>
    <ion-input slot="end" type="number" [value]="minPressure" placeholder="e.g. 80"
    (ionInput)="minPressure = $event.target.value"></ion-input>
  </ion-item>
  <ion-item class="border-bottom" >
    <ion-label>Max</ion-label>
    <ion-input slot="end" [value]="maxPressure" placeholder="e.g. 120"
    (ionInput)="maxPressure = $event.target.value"></ion-input>
  </ion-item>
  <ion-item class="border-bottom" >
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="logDate" [value]="logDate"></ion-datetime>
  </ion-item>
  <ion-button (click)="addHealthData(minPressure,maxPressure)" [disabled]="maxPressure==0" class="weight-log-btn ion-margin" expand="block">Log</ion-button>
</ion-content>