
<ion-content [fullscreen] class="chat-content">
  <div class="hero">
   <ion-icon name="close" style="font-size: 2rem; position:absolute; right:0" (click)="modalController.dismiss()"></ion-icon>
  <div class="hero-text">
    <div class="greeting">Hi {{name}}!</div>
    <div class="sub">I am Naysha, your AI based coach !</div>
  </div>
</div>
  <div class="messages" #content>
    <ng-container *ngFor="let m of messages">
      <!-- Bot message (Left aligned) -->
      <img *ngIf="m.from === 'bot'" class="msg-avatar" [src]="'assets/bot-icon.png'" alt="bot" />
      <span *ngIf="m.from === 'bot'" style="position: relative;top: -.7rem;font-size: .8rem;">Naysha- AI coach</span>
      <div *ngIf="m.from === 'bot'" class="message-row bot">   
        <div class="bubble bot-bubble" [innerHTML]="m.html || m.text">
            <!-- <div class="bubble" [innerHTML]="m.html || m.text"></div> -->
          </div>
      </div>
      <!-- User message (Right aligned) -->
      <div *ngIf="m.from === 'user'" class="message-row user">
        <div class="bubble user-bubble">
         {{m.text}}
        </div>
      </div>
     
    </ng-container>
     <div class="loading-container" *ngIf="isApiResponse">
        <div class="loading-icon"></div>
        <span class="loading-text">Analyzing</span>
        <span class="dot one">.</span>
        <span class="dot two">.</span>
        <span class="dot three">.</span>
      </div>
  </div>

  <div class="quick-chips">
    <ion-chip *ngFor="let opt of quickOptions" (click)="selectQuick(opt)">
      <ion-label>{{ opt.name }}</ion-label>
    </ion-chip>
    <ion-chip (click)="startRecall()">
  <ion-label>Start Diet Recall</ion-label>
</ion-chip>
  </div>

  <div class="composer">
    <ion-item lines="none" class="composer-item">
      <ion-input [formControl]="input" placeholder="Type a message..." maxlength="500"></ion-input>
      <ion-button fill="clear" (click)="sendMessage()" class="send-btn" aria-label="send">
        <ion-icon name="send" style="color: var(--theme-color);"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
  <!-- <div class="recall-summary">
    <app-ai-diet-recall-summary [items]="recallItem"></app-ai-diet-recall-summary>
  </div> -->
 

</ion-content>